@import "../../../../assets/scss/abstracts/variables.scss";

.swiper-button-prev,
.swiper-button-next {
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&:after {
		content: none;
	}
}

.main-title {
	color: map-get($mau, main);
}


.index-slider-departments {
	padding: 0 35px;
	position: relative;
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 50%;
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}
}
