<div class="index-department pd-70">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">
				{{ "Departments" | translate }}
			</h2>
		</div>
		<div class="index-slider-departments">
			<div
				class="swiper-container"
				[swiper]="sliderIndexDepartmentConfig"
				(init)="setSizeSlideItem($event)"
				(swiperResize)="setSizeSlideItem($event)"
				*ngIf="departments"
			>
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let item of departments">
						<div class="product-item">
							<a [routerLink]="item.previewUrl">
								<div class="img ov-h">
									<img
										class="swiper-lazy"
										data-src="{{ item.image }}"
										alt="{{ item.title }}"
									/>
									<div
										class="swiper-lazy-preloader swiper-lazy-preloader-white"
									></div>
								</div>
								<div class="description fcc">
									<h3
										class="tt-u ta-c"
										[innerHTML]="item.title"
									></h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<img
					[defaultImage]="defaultImage"
					[lazyLoad]="'/assets/images/icons/swiper_prev.svg'"
				/>
			</div>
			<div class="swiper-button-next">
				<img
					[defaultImage]="defaultImage"
					[lazyLoad]="'/assets/images/icons/swiper_next.svg'"
				/>
			</div>
		</div>
	</div>
</div>
