.swiper-button-prev,
.swiper-button-next {
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&:after {
		content: none;
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}

	.index-slider-departments {
		position: relative;
		padding: 0 35px;
	}
}
