<footer>
	<div class="container">
		<div class="title-footer tt-u fw-700 cl-white">công ty tnhh mtv z571</div>
		<div class="row">
			<div class="col-lg-4">
				<!-- danh sách địa chỉ -->
				<div class="list-address">
					<ul class="lst-n pl-0">
						<li>
							<div class="icon"><img src="./assets/images/icons/footer_icon_1.svg" alt=""></div>
							<p class="op-50 cl-white">Tại TP.HCM: Số 18 Phan Văn Trị, Phường 10, Quận Gò Vấp, TP Hồ Chí
								Minh</p>
						</li>
						<li>
							<div class="icon"><img src="./assets/images/icons/footer_icon_2.svg" alt=""></div>
							<p class="op-50 cl-white">Tại Đồng Nai: Số 9, Đường Số 1, Khu Công nghiệp Quốc phòng, P.
								Long Bình, TP. Biên Hòa.</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- danh sách dịch vụ -->
			<div class="col-lg-4">
				<div class="list-service">
					<ul class="lst-n pl-0">
						<!-- 1 -->
						<li>
							<a class="op-50 cl-white" href="#">May Công Nghiệp, dịch Vụ Khu Bãi, lưu Trữ Hàng Hóa</a>
						</li>
						<!-- 2 -->
						<li>
							<a class="op-50 cl-white" href="#">Ngành Ôtô</a>
						</li>
						<!-- 3 -->
						<li>
							<a class="op-50 cl-white" href="#">Ngành Cao Su</a>
						</li>
						<!-- 4 -->
						<li>
							<a class="op-50 cl-white" href="#">Đồ Gỗ Gia Dụng và Xuất Khẩu</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- đăng kí theo dõi -->
			<div class="col-lg-4">
				<span class="cl-white">Theo dõi bản tin của chúng tôi!</span>
				<form action="#">
					<div class="form-group">
						<input type="text" placeholder="nhập email">
						<button class="p-0"><img src="./assets/images/icons/search.svg" alt="" srcset=""></button>
					</div>
				</form>
				<div class="list-social">
					<ul class="pl-0 d-f">
						<li><img src="./assets/images/icons/printest.svg" alt="" srcset=""></li>
						<li><img src="./assets/images/icons/facebook.svg" alt="" srcset=""></li>
						<li><img src="./assets/images/icons/twitter.svg" alt="" srcset=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copy-right">
	<div class="container">
		<div class="d-f">
			<p class="cl-white">Copyright © 2019 751</p>
			<p class="cl-white ml-at">All rights reserved | Designed by Web4G</p>
		</div>
	</div>
</div>
