<section class="index-about-us">
	<div class="container-description pd-70">
		<div class="container">
			<div class="block-title">
				<h2 class="tt-u main-title tag-line">Về chúng tôi</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="img">
						<img src="/assets/images/index/i_1.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="title">
						<h2 class="tt-u cl-main">BỘ QUỐC PHÒNG</h2>
						<h3 class="tt-u fw-400">CÔNG TY TNHH MỘT THÀNH VIÊN 751</h3>
					</div>
					<div class="content">
						<p>Công ty 751 / Tổng cục Kỹ thuật / Bộ Quốc phòng, đơn vị anh hùng lực lượng vũ trang nhân nhân
							được thành lập từ năm 1975 trên cơ sở tiếp quản lục quân công xưởng của chế độ ngụy, sài gòn
							là doanh nghiệp trực tiếp phục vụ quốc phòng an ninh và là cơ sở đảm bảo kỹ thuật lớn nhất
							của Quân đội ở phía nam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-symbol pd-70 bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img src="/assets/images/icons/i_icon_1.svg" alt="">
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">Đoàn kết</h3>
							<p>Là sức mạnh để vượt qua mọi khó khăn, thử thách.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img src="/assets/images/icons/i_icon_2.svg" alt="">
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">Sáng tạo</h3>
							<p>à động lức trong đổi mới công nghệ, làm nền tảng cho sự phát triển bền vững.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img src="/assets/images/icons/i_icon_3.svg" alt="">
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">Chất lượng</h3>
							<p>Là mục tiêu hàng đầu để trao gửi đến Quý khách hàng.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img src="/assets/images/icons/i_icon_4.svg" alt="">
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">Hiệu quả</h3>
							<p>Là mục đích mang đến cho Quý khách và Công ty.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>