<div class="block-content" *ngIf="!isShowPopup">
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th class="column-number ta-c">#</th>
				<th>Tên mục</th>
				<th class="column-button ta-c">Tác vụ</th>
			</tr>
			<tr *ngFor="let section of sections; let i = index">
				<th class="ta-c">{{ i }}</th>
				<td>{{ section.orderTitle }}</td>
				<td class="ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit" (click)="onOpenPopup(true, section)">
							<span class="lnr lnr-pencil"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="popup-wrapper" *ngIf="isShowPopup">
	<app-edit [section]="section" (close)="onClosePopup($event)">
	</app-edit>
</div>
