<app-breadcrumb></app-breadcrumb>
<section class="contact">
	<div class="container">
		<h1 class="tt-u main-title tag-line mb-50">liên hệ với chúng tôi</h1>
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="block-form mx-at">
					<form action="#">
						<div class="row">
							<div class="form-group col-lg-6 mb-20">
								<label class="cl-gray d-b mb-10 fw-700" for="#">Họ và tên <span
										class="cl-main">*</span></label>
								<input class="form-control w-100 bd-input bdr-input tt-c" type="text"
									placeholder="nhập họ vào tên">
							</div>
							<div class="form-group col-lg-6 mb-20">
								<label class="cl-gray d-b mb-10 fw-700" for="#">Địa chỉ <span
										class="cl-main">*</span></label>
								<input class="form-control w-100 bd-input bdr-input tt-c" type="text"
									placeholder="nhập địa chỉ">
							</div>
							<div class="form-group col-lg-6 mb-20">
								<label class="cl-gray d-b mb-10 fw-700" for="#">Số điện thoại <span
										class="cl-main">*</span></label>
								<input class="form-control w-100 bd-input bdr-input tt-c" type="text"
									placeholder="nhập số điện thoại">
							</div>
							<div class="form-group col-lg-6 mb-20">
								<label class="cl-gray d-b mb-10 fw-700" for="#">Email <span
										class="cl-main">*</span></label>
								<input class="form-control w-100 bd-input bdr-input" type="text"
									placeholder="nhập email">
							</div>
							<div class="form-group col-lg-12 mb-20">
								<textarea class="form-control w-100 bd-input bdr-input"
									placeholder="nội dung tin nhắn"></textarea>
							</div>
							<div class="form-group col-lg-12 text-right">
								<button class="tt-u btn-form cl-white bd-0 ml-at">gửi</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="list-address">
					<div class="item-address">
						<ul class="lst-n pl-0">
							<li class="cl-main-2 mb-20">TP. HỒ CHÍ MINH</li>
							<li class="mb-10">18 Phan Văn Trị, P.10, Quận Gò Vấp, TP.HCM</li>
							<li class="mb-10">Website : congty751.com.vn</li>
							<li class="mb-10">Tel: 028 3895 8466</li>
							<li class="mb-10">Email: info@congty751.com.vn</li>
						</ul>
					</div>
					<div class="item-address">
						<ul class="lst-n pl-0">
							<li class="cl-main-2 mb-20">ĐỒNG NAI</li>
							<li>Số 9, Đường số 1, Khu Công nghiệp Quốc phòng, P.Long Bình, TP. Biên Hòa, Tỉnh Đồng Nai
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="google-map mt-40">
		<app-map></app-map>
	</div>
</section>
