.contact {
	margin-top: 25px;

	.block-form {
		padding-right: 30px;

		input[type='text'] {
			height: 45px;
		}

		textarea {
			height: 200px;
		}

		@media (max-width: 1024.98px) {
			padding-right: 0;
			max-width: 650px;
		}
	}

	.list-address {
		padding-left: 30px;

		.item-address {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 1px dotted #707070;

			ul {
				li {
					font-size: 18px;
					color: #2B2B2B;

					@media (max-width: 1199.98px) {
						font-size: 16px;
					}

					@media (max-width: 767.98px) {
						font-size: 14px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}

		@media (max-width: 1024.98px) {
			padding-left: 0;
		}
	}
}