<div style="cursor: pointer;" (click)="redirectTypes('may-tien-cnc')" [@routeAnimation]>
    <h3>Type Product</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellendus consequuntur enim distinctio libero,
        ipsum necessitatibus suscipit vitae qui optio maxime eius sit, ea in placeat accusantium dolore fuga nobis
        ullam. Nisi, labore placeat corrupti consequuntur voluptatum fuga atque adipisci assumenda. Tempore dolores
        eveniet ad corrupti non beatae quam ipsum repellat, nihil ipsam magni eligendi sit laborum ex maiores culpa
        magnam earum placeat necessitatibus labore et unde architecto ab. Dolorum, perspiciatis. Laborum corrupti ab
        nesciunt cumque aspernatur tempore modi vel facere illum! Recusandae dolor deserunt sequi distinctio soluta
        aspernatur perferendis, odit ratione iusto necessitatibus? Adipisci molestias tenetur quos dolore sapiente
        repellendus odit obcaecati esse illum mollitia iure architecto dolor labore delectus quidem, earum eligendi
        culpa nesciunt inventore incidunt facere alias hic quis provident! Nihil, facere! Tenetur est doloremque omnis.
        Harum saepe vel, praesentium ab laborum pariatur atque rem ducimus architecto repudiandae impedit similique,
        iusto laudantium, asperiores quaerat rerum! Optio harum nulla eligendi vitae, omnis ex debitis laborum quod
        veritatis dolorem, ad voluptatem temporibus ullam necessitatibus commodi, tempora sit magnam possimus cum quae
        aut nostrum odit eum consequuntur. Sed, voluptates provident. Nulla laudantium ad in ea explicabo odio! In eum
        velit at cumque, fugiat corrupti, consequatur iste modi assumenda maxime sequi debitis. Alias rem voluptatum
        beatae optio repellat iure accusamus et enim nisi molestias ipsa quis rerum accusantium a vitae aliquid, ut,
        quibusdam dolores quod? Distinctio, architecto fugit mollitia repellendus itaque saepe fugiat eligendi
        voluptate? Culpa possimus vitae animi cupiditate, autem amet natus accusantium, eius, nam maiores ipsam? Nam
        earum, sit accusantium, libero similique perspiciatis et laboriosam iste dolores architecto error ipsum
        blanditiis eveniet praesentium illo dignissimos fugiat temporibus eos? Officia quasi at dolor facilis culpa et
        quisquam cupiditate est, ipsam architecto! Veritatis perspiciatis assumenda omnis alias commodi accusamus
        deserunt sequi repellendus blanditiis incidunt provident amet et maiores, sapiente iusto praesentium?</p>
</div>