<div class="block-control ai-c">
	<div class="block-filters mr-at d-f ai-c fw-w">
		<div class="form-group mb-0">
			<select name="language" id="language" class="form-control" [(ngModel)]="search.languageId"
				(change)="getCategories($event)">
				<option *ngFor="let language of languages" value="{{ language.id }}"
					[selected]="language.isDefault ? 'selected' : ''">
					{{ language.name }}
				</option>
			</select>
		</div>
	</div>
	<div class="block-buttons">
		<a
			class="btn btn-success btn-add"
			[routerLink]="['/admin/category/add']"
		>
			Thêm mới
		</a>
	</div>
</div>
<div class="block-table">
	<table class="table">
		<tr class="table-info">
			<th class="column-number ta-c">#</th>
			<th class="column-title">Tên danh mục</th>
			<th class="column-category ta-c">Danh mục cha</th>
			<th class="column-url ta-c">Đường dẫn</th>
			<th class="column-button ta-c">Tác vụ</th>
		</tr>
		<tr *ngFor="let category of categories; let i = index">
			<th class="ta-c">{{ i }}</th>
			<td>{{ category.title }}</td>
			<td>{{ category.parentName }}</td>
			<td>{{ category.previewUrl }}</td>
			<td class="ta-c">
				<div class="table-buttons">
					<a class="btn btn-outline-success btn-edit" [routerLink]="['/admin/category/edit', category.id]">
						<span class="lnr lnr-pencil"></span>
					</a>
					<span class="btn btn-outline-danger btn-remove" (click)="deleteCategory(category.id)">
						<span class="lnr lnr-trash"></span>
					</span>
				</div>
			</td>
		</tr>
	</table>
</div>
