@keyframes wiggle {
	0% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(7deg);
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 0%;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0) scale(1) skew(1deg);
	}

	20% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}

	40% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}

	60% {
		transform: rotate(-25deg) scale(1) skew(1deg);
	}

	80% {
		transform: rotate(25deg) scale(1) skew(1deg);
	}

	100% {
		transform: rotate(0) scale(1) skew(1deg);
	}
}

@keyframes spread1 {
	0% {
		-webkit-transform: rotate(0) scale(0.5) skew(1deg);
		-webkit-opacity: 0.1;
	}

	30% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		-webkit-opacity: 0.5;
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		-webkit-opacity: 0.1;
	}
}

@keyframes spread2 {
	0% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		opacity: 0.2;
	}

	100% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}
}

@keyframes spread3 {
	0% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
	}

	20% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}

	40% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}

	60% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}

	80% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
}