<button (click)="switchLanguage('vi')">VietNam</button>
<button (click)="switchLanguage('en')">English</button>
<div>
    <a [routerLink]="'/' | localize">{{ "menu.home" | translate }}</a> <br>
    <a [routerLink]="'/about' | localize">{{ "menu.about" | translate }}</a><br>
    <a [routerLink]="'/products' | localize">{{ "menu.products" | translate }}</a><br>
    <a [routerLink]="'/gallery' | localize">{{ "menu.gallery" | translate }}</a><br>
    <a [routerLink]="'/news' | localize">{{ "menu.news" | translate }}</a><br>
    <a [routerLink]="'/contact' | localize">{{ "menu.contact" | translate }}</a>
</div>