<!-- Demo Sync slider -->
<div class="popup-container">
	<div class="popup-content">
		<div class="popup-close d-f jc-c ai-c" (click)="emitClickValue()">
			<svg xmlns="http://www.w3.org/2000/svg" width="13.063" height="12.512" viewBox="0 0 13.063 12.512">
				<g transform="translate(-11454.219 -7724)">
					<path d="M6.256,8.008l6.256-6.256L10.659.03l-4.4,4.4L1.823,0,0,1.752Z"
						transform="translate(11454.219 7736.511) rotate(-90)" fill="#fff" />
					<path d="M6.256,8.008l6.256-6.256L10.659.03l-4.4,4.4L1.823,0,0,1.752Z"
						transform="translate(11467.281 7724) rotate(90)" fill="#fff" />
				</g>
			</svg></div>
		<div class="big-slider">
			<div class="swiper-container" [swiper]="bigSliderConfig" #bigSlider>
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let image of imageList">
						<div class="img">
							<img src={{image.bigImage}} alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-slider">
			<div class="swiper-container" [swiper]="smallSliderConfig" #smallSlider
				(swiperClick)="changeBigSlider($event)">
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let image of imageList" style="cursor: pointer;">
						<div class="img">
							<img src={{image.thumbnailImage}} alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<span class="lnr lnr-chevron-left"></span>
			</div>
			<div class="swiper-button-next">
				<span class="lnr lnr-chevron-right"></span>
			</div>
		</div>
	</div>
</div>
