<section class="pd-70" ngClass="{{ background }}">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">
				{{ "index.news.title"  | translate }} {{pageTitle}}
			</h2>
		</div>
		<div class="news-list clearfix">
			<ng-container *ngFor="let item of newsItems; let i = index">
				<div class="news-item" [ngClass]="{ 'news-big': i == 0 }" *ngIf="i < 5" appIndexNewsItem>
					<a [routerLink]="[item.url]" class="d-f fw-w">
						<div class="img ov-h">
							<img *ngIf="newsItems" [defaultImage]="defaultImage" [lazyLoad]="item.image"
								alt="{{ item.title }}">
						</div>
						<div class="description">
							<h3>{{ item.title }}</h3>
							<time class="d-b">{{
								item.order | date: "dd-MM-yyyy"
							}}</time>
							<p *ngIf="i == 0">{{ item.description }}</p>
							<span class="viewmore" *ngIf="i == 0">{{
								"ResourceKeys.ViewDetail" | translate
							}}</span>
						</div>
					</a>
				</div>
			</ng-container>
		</div>
		<div class="btn-wrapper d-f jc-fe">
			<a [routerLink]="['/news']" class="btn-red btn-viewmore">
				{{ "ResourceKeys.ViewMore" | translate }}
				<img [defaultImage]="defaultImage" [lazyLoad]="'/assets/images/icons/icon_viewmore.svg'">
			</a>
		</div>
	</div>
</section>
