.product-othders {
	position  : relative;
	background: rgba($color: #F3F3F3, $alpha: .5);
	padding   : 40px 0;
	margin-top: 30px;

	.slider-product-othders {
		position: relative;

		figure {
			padding   : 8px;
			background: #ffffff;
			box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);

			figcaption {
				margin-top: 15px;

				h3 {
					color: #707070;
				}
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			width          : 38px;
			height         : 38px;
			background-size: cover;

			&:after {
				content        : '';
				background-size: cover;
				width          : 100%;
				height         : 100%;
			}
		}

		.swiper-button-prev {
			left            : -60px;
			background-image: url(/assets/images/icons/prev-slider-reward.svg);
		}

		.swiper-button-next {
			right           : -60px;
			background-image: url(/assets/images/icons/next-slider-reward.svg);
		}

		@media (max-width: 1024.98px) {
			padding: 0 55px;

			.swiper-button-prev {
				left: 0;
			}

			.swiper-button-next {
				right: 0;
			}
		}

		@media (max-width: 767.98px) {
			padding: 0;

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding   : 20px 0;
		margin-top: 15px;
	}
}
