<section class="product-othders">
	<div class="container">
		<div class="block-title center">
			<div class="main-title fw-700 tt-u txt-d-under">sản phẩm cùng loại</div>
		</div>
		<div class="slider-product-othders">
			<div class="swiper-container" [swiper]="sliderProductOthers">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<figure>
							<div class="img">
								<img class="ofcv" src="/assets/images/products/product-others/1.png" alt="" srcset="">
							</div>
							<figcaption>
								<h3 class="lcl lcl-1 fw-700">ROOMOC</h3>
								<div class="d-f jc-spa mt-10">
									<div class="view-like">
										<ul class="d-f lst-n pl-0">
											<li class="view">1234</li>
											<li class="like">222</li>
										</ul>
									</div>
									<span class="view-detail text-right">Xem chi tiết</span>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="swiper-slide">
						<figure>
							<div class="img">
								<img class="ofcv" src="/assets/images/products/product-others/2.png" alt="" srcset="">
							</div>
							<figcaption>
								<h3 class="lcl lcl-1 fw-700">ROOMOC</h3>
								<div class="d-f jc-spa mt-10">
									<div class="view-like">
										<ul class="d-f lst-n pl-0">
											<li class="view">1234</li>
											<li class="like">222</li>
										</ul>
									</div>
									<span class="view-detail text-right">Xem chi tiết</span>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="swiper-slide">
						<figure>
							<div class="img">
								<img class="ofcv" src="/assets/images/products/product-others/3.png" alt="" srcset="">
							</div>
							<figcaption>
								<h3 class="lcl lcl-1 fw-700">ROOMOC</h3>
								<div class="d-f jc-spa mt-10">
									<div class="view-like">
										<ul class="d-f lst-n pl-0">
											<li class="view">1234</li>
											<li class="like">222</li>
										</ul>
									</div>
									<span class="view-detail text-right">Xem chi tiết</span>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</section>
