/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main.scss';

body {
	background: #e9ecee;
}

.block-content {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}
