<section class="product-others">
	<div class="container">
		<div class="block-title center">
			<div class="main-title fw-700 tt-u txt-d-under">
				{{ "ResourceKeys.ProductLine" }}
			</div>
		</div>
		<div class="slider-product-others">
			<div class="swiper-container pb-10" [swiper]="sliderProductOthers">
				<div class="swiper-wrapper">
					<div
						class="swiper-slide"
						*ngFor="let product of productOthers"
					>
						<a
							[routerLink]="[
								'/products/',
								routeParamUrl,
								product.Url
							]"
						>
							<figure>
								<div class="img">
									<img
										class="ofcv"
										src="{{ product.Image }}"
										alt=""
									/>
								</div>
								<figcaption>
									<h3 class="lcl lcl-1 fw-700">
										{{ product.Title }}
									</h3>
									<div class="d-f jc-fe mt-10">
										<!-- <div class="view-like">
											<ul class="d-f lst-n pl-0">
												<li class="view">1234</li>
												<li class="like">222</li>
											</ul>
										</div> -->
										<span class="view-detail text-right">{{
											"ResourceKeys.ViewDetail"
												
										}}</span>
									</div>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</section>
