@import "../../../../assets/scss/abstracts/variables";

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 120px;
	padding: 15px 0;
	border-bottom: 5px solid #DC2424;
	background-color: white;
	z-index: 100;

	.container {
		height: 100%;

		.row {
			height: 100%;
		}
	}

	.header-top {
		padding-top: 5px;
	}

	.header-name {
		h1 {
			font-size: 16px;
			color: map-get($mau, main);

			@media (min-width: 1200px) {
				font-size: 18px;
			}
		}
	}

	.header-email {
		font-size: 16px;
		color: #2B2B2B;
		padding-left: 15px;
		position: relative;
		margin-left: 15px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 15px;
			width: 1px;
			background-color: #707070;
		}
	}

	.header-social {
		margin-left: 50px;

		a {
			+a {
				margin-left: 15px;
			}

			svg {
				fill: #707070;
				transition: all .2s ease-in-out;
			}

			@media (min-width: 1025px) {
				&:hover {
					svg {
						fill: map-get($mau, main);
					}
				}
			}
		}

		@media (min-width: 1200px) {
			margin-left: 100px;
		}
	}

	.logo {
		flex: 0 0 90px;
		max-width: 90px;
	}

	.header-bottom {
		position: absolute;
		bottom: -30px;
		right: 0;
	}

	.header-bottom-wrapper {
		background-color: #DC2424;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: -1000px;
			height: 100%;
			width: 1000px;
			background-color: #DC2424;
		}

		&:before {
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			height: 100%;
			width: 50px;
			background-image: url('/assets/images/main_nav_bg.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	.main-nav {
		>ul {
			>.nav-item {
				padding: 5px 18px;
				position: relative;

				>.nav-link {
					padding: 7px 0;
					font-size: 14px;
					color: white;
					border-bottom: 2px solid transparent;
					transition: all .2s ease-in-out;
				}

				&.has-sub {
					>.nav-link {
						position: relative;
						padding-right: 15px;

						&:after {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							content: '\e874';
							font-family: 'Linearicons-Free';
							font-size: 10px;
							right: 0;
						}
					}
				}

				&.active {
					>.nav-link {
						border-bottom: 2px solid white;
					}
				}

				@media (min-width: 1025px) {
					&:hover {
						cursor: pointer;

						>.nav-sub {
							opacity: 1;
							visibility: visible;
							transform: translateY(0);
						}
					}
				}

				@media (min-width: 1200px) {
					padding: 7px 25px;

					>.nav-link {
						padding: 10px 0;
						font-size: 15px;
					}
				}
			}
		}

		.nav-sub {
			background-color: white;
			position: absolute;
			top: 100%;
			box-shadow: 2px 4px 12px rgba(black, .1);
			left: 25px;
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			transition: all .3s ease-out;

			>.nav-item {
				>.nav-link {
					padding: 7px 25px;
					display: block;
					min-width: 320px;
					color: map-get($mau, main);
					font-size: 14px;

					@media (min-width: 1200px) {
						font-size: 15px;
					}
				}

				@media (min-width: 1025px) {
					&:hover {
						>.nav-link {
							background-color: map-get($mau, main);
							color: white;
						}
					}
				}

				+.nav-item {
					border-top: 1px solid rgba(map-get($mau, main), .5);
				}
			}
		}
	}

	.search {
		padding-left: 18px;
		height: 100%;
		position: relative;

		label {
			height: 100%;
			cursor: pointer;
		}

		.form-search {
			position: absolute;
			right: 0;
			background-color: white;
			padding: 5px;
			width: 275px;
			height: 45px;
			box-shadow: 0 2px 4px rgba(black, .1);

			@media (min-width: 1025px) {
				display: none;

				&.active {
					display: flex;
				}
			}
		}

		.btn-search {
			width: 35px;
			height: 35px;
			background-color: #DC2424;
		}

		@media (min-width: 1200px) {
			padding-left: 25px;
		}
	}

	.language {
		padding: 0 18px;

		select {
			background-color: transparent;
			color: white;

			option {
				color: map-get($mau, main);
			}
		}

		@media (min-width: 1200px) {
			padding: 0 25px;
		}
	}
}

@media (max-width: 1024.98px) {
	header {
		height: auto;

		.logo {
			max-width: 45px;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99;
			width: 100%;
			height: 100%;
			background-color: rgba(black, .9);
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease-out;

			&.active {
				opacity: 1;
				visibility: visible;
			}
		}

		.navbar {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 315px;
			background-color: white;
			display: flex;
			flex-direction: column;
			box-shadow: 2px 0px 12px rgba(map-get($mau, main), .2);
			opacity: 0;
			transform: translateX(-100%);
			transition: all .3s ease-out;
			z-index: 100;

			&.active {
				opacity: 1;
				transform: translateX(0%);
			}
		}

		.header-name {
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 10px;

			h1 {
				text-align: center;
				font-size: 14px;
			}
		}

		.header-social {
			margin-left: 0;
			display: flex;

			a {
				display: block;
				width: 25px;
				height: 25px;
				background-color: map-get($mau, main);
				border-radius: 50%;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					path {
						fill: white;
					}
				}

				+a {
					margin-left: 10px;
				}
			}
		}

		.header-email {
			font-size: 14px;
			padding-left: 10px;
			margin-left: 10px;
		}

		.header-top {
			flex-wrap: wrap;
			padding: 10px;
			border-bottom: 1px solid map-get($mau, main);
		}

		.header-bottom {
			display: block;
			top: 98px;
			bottom: 0;
			width: 100%;
			overflow: hidden;
		}

		.header-bottom-wrapper {
			display: block;
			background-color: transparent;
			height: 100%;

			&:before,
			&:after {
				content: none;
			}

			.main-nav {
				// position: absolute;
				// top: 40px;
				// bottom: 0;
				// width: 100%;
				// transition: all .3s ease-out;
				overflow-y: auto;
				max-height: 100%;
				padding-top: 40px;

				>ul {
					display: block;
					border-top: 1px solid map-get($mau, main);

					>.nav-item {
						padding: 5px 10px;
						position: static;

						.nav-link {
							display: block;
							border-bottom: 0;
							color: map-get($mau, main);
						}

						&.has-sub {
							>.nav-link {
								position: relative;

								&:after {
									content: '\e876';
									position: absolute;
									right: 0;
									top: 50%;
									font-size: 14px;
									transform: translateY(-50%);
									margin-left: auto;
								}
							}
						}
					}
				}

				.nav-sub {
					left: 100%;
					top: 31px;
					width: 100%;
					max-width: 100%;
					box-shadow: none;
					padding-right: 39px;
					bottom: 0;
					overflow-y: auto;

					.nav-sub-close {
						position: absolute;
						width: 40px;
						right: 0;
						top: 0;
						transition: all .3s ease-out;

						svg {
							width: 100%;
						}
					}

					>.nav-item {
						border: 0;

						>.nav-link {
							min-width: 100%;
							padding: 10px;
						}
					}

					&.active {
						opacity: 1;
						visibility: visible;
						left: 0;
						z-index: 5;
					}
				}
			}
		}

		.language {
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 40px;
			padding: 0;

			select {
				width: 50px;
				height: 40px;
				color: #333333;
			}
		}

		.search {
			padding-left: 0;
			position: absolute;
			top: 0;
			left: 50px;
			right: 0;
			height: 40px;

			label {
				display: none;
			}

			.form-search {
				position: static;
				width: 100%;
				padding: 0;
				box-shadow: none;
				height: auto;
				display: flex;
			}

			.form-control {
				height: 40px;
				border-top: 0;
				border-right: 0;
				border-bottom: 0;
			}

			.btn-search {
				width: 40px;
				height: 40px
			}
		}

		.hamburger {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 1px solid map-get($mau, main);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span {
				display: block;
				height: 2px;
				width: 20px;
				background-color: map-get($mau, main);
				margin: 1.5px 0;
			}
		}

		.navbar-close {
			position: absolute;
			width: 35px;
			height: 35px;
			background-color: map-get($mau, main);
			left: 100%;
			top: 0;


			span {
				transform-origin: 50% 50%;
				display: block;
				height: 2px;
				width: 20px;
				background-color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				&:nth-child(1) {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:nth-child(2) {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}