<div class="block-control ai-c">
	<div class="block-buttons">
		<a class="btn btn-danger btn-cancel" [routerLink]="['/admin/category']">
			Hủy bỏ
		</a>
		<ng-container *ngIf="isEdit == true">
			<a class="btn btn-success btn-add" (click)="updateCategory()">
				Cập nhật
			</a>
		</ng-container>
		<ng-container *ngIf="isEdit == false">
			<a class="btn btn-success btn-add" (click)="addCategory()">Thêm</a>
		</ng-container>
	</div>
</div>
<div class="tab-container block-form" appTab>
	<ul class="tab-items">
		<li class="item active" toggle-for="item-1">Nội dung</li>
		<li class="item" toggle-for="item-2">SEO</li>
		<!-- <li class="item" toggle-for="item-3">Hình ảnh</li> -->
	</ul>
	<div class="tab-contents">
		<div class="content show" tab-id="item-1">
			<div class="row">
				<div class="form-group col-lg-6">
					<label>Ngôn ngữ *</label>
					<mat-form-field>
						<mat-select name="language" [formControl]="languageControl" [(ngModel)]="category.languageId"
							(ngModelChange)="onChangeLanguage($event)">
							<mat-option *ngFor="let language of languages" [value]="language.id">
								{{ language.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-lg-6">
					<label>Danh mục cha (nếu có)</label>
					<mat-form-field>
						<mat-select name="parentid" [formControl]="categoryControl" [(ngModel)]="category.parentId"
							(ngModelChange)="updateBaseUrl()">
							<mat-option *ngFor="let category of categories" [value]="category.id">
								{{ category.title }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-lg-6">
					<label>Tiêu đề *</label>
					<input class="form-control" type="text" placeholder="Nhập tiêu đề" name="title"
						[(ngModel)]="category.title" (keyup)="setAliasTitleToUrl()" />
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn *</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								{{ originUrl }}
							</span>
						</div>
						<input class="form-control" type="text" name="sename" [(ngModel)]="category.seName" />
					</div>
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn mới</label>
					<input class="form-control" type="text" placeholder="Nhập đường dẫn mới" name="externalurl"
						[(ngModel)]="category.externalUrl" />
				</div>
				<div class="form-group col-lg-6">
					<label>Link ảnh đại diện *</label>
					<input class="form-control" type="text" placeholder="Nhập đường dẫn ảnh đại diện" name="image"
						[(ngModel)]="category.image" />
				</div>
				<div class="form-group col-lg-6">
					<div class="form-group">
						<label>Chọn mẫu template</label>
						<mat-form-field>
							<mat-select [formControl]="templatesControl" name="template" [(ngModel)]="category.template"
								(ngModelChange)="
									showProductGroups(category.template)
								">
								<mat-option *ngFor="
										let template of templates;
										let i = index
									" [value]="template.id">
									{{ template.title }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="form-group" *ngIf="isShowProductGroup">
						<label for="">Chọn nhóm sản phẩm</label>
						<mat-form-field>
							<mat-select [formControl]="productGroupsControl" multiple
								(ngModelChange)="updateCategoryProductsGroups()">
								<mat-option *ngFor="let productGroup of productGroups" [value]="productGroup">
									{{ productGroup.name }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<!-- <div class="form-group col-lg-6">
					<label>Vị trí</label>
					<input class="form-control" type="number" placeholder="Sắp xếp vị trí trang" name="order"
						[(ngModel)]="category.order" />
				</div> -->
				<div class="form-group col-lg-12">
					<label>Mô tả *</label>
					<app-ckeditor [data]="category.description" (change)="onChangeEmitter($event)">
					</app-ckeditor>
				</div>
			</div>
		</div>
		<div class="content" tab-id="item-2">
			<div class="row">
				<div class="form-group col-lg-6">
					<label>Meta Title *</label>
					<input class="form-control" type="text" name="metatitle" [(ngModel)]="category.metaTitle" />
				</div>
				<div class="w-100"></div>
				<div class="form-group col-lg-6">
					<label>Meta Image *</label>
					<input class="form-control" type="text" name="metaimage" [(ngModel)]="category.metaImage" />
				</div>
				<div class="w-100"></div>
				<div class="form-group col-lg-6">
					<label>Meta Description</label>
					<input class="form-control" type="text" name="metadescription"
						[(ngModel)]="category.metaDescription" />
				</div>
				<div class="w-100"></div>
				<div class="form-group col-lg-6">
					<label>Meta Keywords </label>
					<input class="form-control" type="text" name="metakeywords" [(ngModel)]="category.metaKeywords" />
				</div>
			</div>
		</div>
		<!-- <div class="content" tab-id="item-3">
			<p>3</p>
		</div> -->
	</div>
</div>
