<ng-container *ngIf="!isShowPopup">
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Từ khóa</th>
				<th>Giá trị (Tiếng việt)</th>
				<th>Giá trị (Tiếng anh)</th>
				<th class="ta-c">Thao tác</th>
			</tr>
			<tr *ngFor="let resource of resources; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ resource.name }}</td>
				<td>{{ resource.value.vi }}</td>
				<td>{{ resource.value.en }}</td>
				<td class="ta-c">
					<a
						class="btn btn-outline-success"
						(click)="onOpenPopup(true, resource)"
					>
						<span class="lnr lnr-pencil"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</ng-container>

<div class="popup-wrapper" *ngIf="isShowPopup">
	<app-edit [resource]="resource" (close)="onClosePopup($event)"> </app-edit>
</div>
