<div class="block-control">
	<a
		class="btn btn-success btn-add"
		(click)="updateResource()"
		*ngIf="!isAddNew"
	>
		Cập nhật
	</a>
	<a *ngIf="isAddNew" class="btn btn-danger" (click)="addResourceOpen(false)">
		Hủy bỏ
	</a>
	<a
		class="btn btn-success btn-add"
		(click)="addResourceOpen(true)"
		*ngIf="!isAddNew"
	>
		Thêm mới
	</a>
	<a (click)="addResource()" class="btn btn-success" *ngIf="isAddNew">
		Thêm tài nguyên
	</a>
</div>
<div class="block-table" *ngIf="!isAddNew">
	<table class="table">
		<tr class="table-info">
			<th>#</th>
			<th>Từ khóa</th>
			<th>Giá trị (Tiếng việt)</th>
			<th>Giá trị (Tiếng anh)</th>
			<th class="ta-c">Thao tác</th>
		</tr>
		<tr *ngFor="let resource of resources; let i = index">
			<td>{{ i + 1 }}</td>
			<td>{{ resource.Key }}</td>
			<td>
				<div class="form-group">
					<input
						class="form-control"
						type="text"
						[name]="resource.Key"
						[(ngModel)]="resource.Value.vi"
						[attr.disabled]="!resource.isEdit ? '' : null"
					/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<input
						class="form-control"
						type="text"
						[name]="resource.Key"
						[(ngModel)]="resource.Value.en"
						[attr.disabled]="!resource.isEdit ? '' : null"
					/>
				</div>
			</td>
			<td class="ta-c">
				<ng-container *ngIf="!resource.isEdit">
					<a
						*ngIf="canAction(featureName, permissions.Edit)"
						class="btn btn-outline-success"
						(click)="editResource(resource)"
					>
						<span class="lnr lnr-pencil"></span>
					</a>
				</ng-container>
				<ng-container *ngIf="resource.isEdit">
					<a
						*ngIf="canAction(featureName, permissions.Edit)"
						class="btn btn-outline-success"
						(click)="saveResource(resource)"
					>
						Lưu
					</a>
				</ng-container>
			</td>
		</tr>
	</table>
</div>

<div class="block-form" *ngIf="isAddNew">
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label for="">Nhập từ khóa</label>
						<input
							type="text"
							class="form-control"
							placeholder="Từ khóa..."
							[(ngModel)]="newResource.Key"
						/>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label for="">Nhập giá trị tiếng anh</label>
						<input
							type="text"
							class="form-control"
							[(ngModel)]="newResource.Value.en"
						/>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label for="">Nhập giá trị tiếng việt</label>
						<input
							type="text"
							class="form-control"
							[(ngModel)]="newResource.Value.vi"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
