<!-- Sửa banner -->
<div class="block-control" *ngIf="isEdit == true">
	<a class="btn btn-danger btn-cancel" (click)="closePopup(false)">
		Hủy bỏ
	</a>
	<a class="btn btn-success btn-add" (click)="updateMenu()">Cập nhật</a>
</div>
<!-- Thêm banner -->
<div class="block-control" *ngIf="isEdit == false">
	<a class="btn btn-danger btn-cancel" (click)="closePopup(false)">
		Hủy bỏ
	</a>
	<a class="btn btn-success btn-add" (click)="addMenu()">Thêm</a>
</div>
<div class="block-form">
	<form class="form-row row">
		<div class="form-group col-12">
			<label>Ngôn ngữ *</label>
			<mat-form-field>
				<mat-select
					name="language"
					[formControl]="languageControl"
					[(ngModel)]="menu.languageId"
					(ngModelChange)="onChangeLanguge($event)"
				>
					<mat-option
						*ngFor="let language of languages"
						[value]="language.id"
					>
						{{ language.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group col-12">
			<label>Menu cha (nếu có)</label>
			<mat-form-field>
				<mat-select
					name="parentMenu"
					[formControl]="menuControl"
					[(ngModel)]="menu.parentId"
				>
					<mat-option *ngFor="let menu of menus" [value]="menu.id">
						{{ menu.title }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group col-12">
			<label>Tiêu đề *</label>
			<input
				class="form-control"
				name="titleMenu"
				type="text"
				placeholder="Nhập tiêu đề"
				[(ngModel)]="menu.title"
			/>
		</div>
		<div class="form-group col-12">
			<label>Hình ảnh</label>
			<input
				class="form-control"
				name="imageMenu"
				type="text"
				placeholder="Nhập hình ảnh (nếu có)"
				[(ngModel)]="menu.image"
			/>
			<a
				class="btn btn-info btn-choose-image mt-10px"
				(click)="isShowPopupUploadfile(true)"
				>Chọn ảnh</a
			>
		</div>
		<div class="form-group col-12">
			<label>Đường dẫn *</label>
			<input
				class="form-control"
				name="linkMenu"
				type="text"
				placeholder="Nhập đường dẫn mới"
				[(ngModel)]="menu.link"
			/>
		</div>
		<div class="form-group col-12">
			<label>Thứ tự</label>
			<input
				class="form-control"
				name="orderMenu"
				type="number"
				placeholder="Nhập thứ tự"
				[(ngModel)]="menu.order"
			/>
		</div>
		<div class="form-group col-12">
			<label>Target Menu *</label>
			<mat-form-field>
				<mat-select
					name="typeMenu"
					[formControl]="typeMenuControl"
					[(ngModel)]="menu.type"
				>
					<mat-option [value]="0">Cửa sổ hiện tại</mat-option>
					<mat-option [value]="1">Cửa số mới</mat-option>
					<mat-option [value]="2">Popup</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="popup-upload" *ngIf="isShowUpload">
			<iframe
				id="uploadfile"
				width="100%"
				height="100%"
				src="http://27.71.234.45:5000/"
				frameborder="0"
			></iframe>
			<div class="close-popup" (click)="isShowPopupUploadfile(false)">
				<img src="./assets/images/icons/close.png" alt="" />
			</div>
		</div>
	</form>
</div>
