<section class="pd-70">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">Hoạt động</h2>
		</div>
		<div class="row activities-list">
			<ng-container *ngFor="let activities of activitiesList, let i = index">
				<div class="col-lg-6 activities-item" *ngIf="i<2">
					<a [routerLink]="[ '/activitys.url' | localize]">
						<div class="img ov-h mb-20">
							<img src="{{activities.img}}" alt="">
						</div>
						<h3>{{activities.title}}</h3>
						<div class="description">
							<time class="d-b">{{activities.time}}</time>
							<span class="viewmore">Xem {{activities.typeName}}</span>
						</div>
					</a>
				</div>
			</ng-container>
		</div> `
	</div>
</section>
