<section class="pd-70">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">Hoạt động</h2>
		</div>
		<div class="row activities-list">
			<ng-container *ngFor="let activity of activities, let i = index">
				<div class="col-lg-6 index-activities-item" *ngIf="i<2">
					<a>
						<div class="img ov-h mb-20">
							<img src="{{activity.img}}" alt="">
						</div>
						<h3 class="lcl lcl-1">{{activity.title}}</h3>
						<div class="description">
							<time class="d-b">{{activity.time}}</time>
							<span class="viewmore">Xem {{activity.typeName}}</span>
						</div>
					</a>
				</div>
			</ng-container>
		</div>
	</div>
</section>