@import "../../../../assets/scss/abstracts/variables.scss";

.row {
	margin-bottom: -20px;
}

.main-title {
	color: map-get($mau, main);
}

.col-product {
	margin-bottom: 20px;
}


@media (max-width: 1199.98px) {
	.description {
		h3 {
			font-size: 15px;
		}
	}
}

@media (max-width: 768px) {
	.product-item {
		.description {
			h3 {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 576px) {
	.row {
		margin-bottom: -10px;
	}

	.col-product {
		margin-bottom: 10px;
	}
}