<section class="product-others pd-70">
	<div class="container">
		<div class="block-title center">
			<div class="main-title fw-700 tt-u txt-d-under">
				{{ "ResourceKeys.ProductLine" }}
			</div>
		</div>
		<div class="slider-product-others">
			<div class="swiper-container pb-10" [swiper]="sliderProductOthers">
				<div class="swiper-wrapper">
					<div
						class="swiper-slide"
						*ngFor="let product of productOthers"
					>
						<app-capacity-simple
							[capacity]="product"
						></app-capacity-simple>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</section>
