<div [@routeAnimation]>
        <h3>This Video List</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat eum alias tenetur? Vel incidunt necessitatibus
            ducimus deserunt, non, maiores soluta provident accusamus corporis explicabo eum autem earum sed! Maiores,
            quaerat? Quis unde expedita quod nemo libero reprehenderit neque sint exercitationem, ab nesciunt qui,
            dignissimos blanditiis modi cum rerum harum! Odio consectetur, animi possimus explicabo harum id itaque esse.
            Quos dolorum eos, reprehenderit voluptates sequi illum officiis consequuntur fugiat commodi placeat explicabo
            aut error! Corrupti voluptatum reprehenderit, vitae modi in exercitationem tempore expedita vel officiis iste.
            Iusto voluptatem voluptates assumenda. Delectus eaque consequatur beatae voluptatum, saepe adipisci molestias
            officiis nobis unde aut ea temporibus nostrum tempora autem amet eum corrupti vitae laborum, consectetur sunt
            repellendus debitis magnam. Nam quod exercitationem at velit quaerat earum inventore modi. Praesentium nobis
            eaque labore reprehenderit nam dolore incidunt qui rerum error, itaque magnam corporis odit, ipsum modi saepe.
            Ea, eveniet. Natus deleniti dolorum, assumenda suscipit unde velit magnam ipsum odit aut quam labore maiores
            nesciunt illum, animi eius omnis aliquid. Magnam laborum officia quidem rem natus recusandae explicabo rerum.
            Iusto aliquid aspernatur odio, laborum sequi asperiores, aliquam alias velit amet obcaecati, labore quas quos
            voluptates esse ad harum autem cum soluta cupiditate molestiae? Pariatur inventore vitae eius earum voluptatem
            reprehenderit, vel officia esse atque dolores cum quidem culpa ex delectus laudantium? Ea cumque accusamus
            maxime dolor exercitationem quibusdam recusandae. Aliquid tenetur consequuntur dignissimos in. Ab, debitis
            soluta accusantium harum facilis beatae natus temporibus, cum quidem eos quod neque, quas nulla eaque facere.
            Corporis necessitatibus id facilis nemo, cupiditate eligendi asperiores tempore eaque vero voluptatem magnam
            architecto sed aut consequatur recusandae totam nihil. Porro fugit expedita doloribus est magnam, odio nulla
            quam nemo asperiores nostrum repudiandae hic, repellendus aperiam assumenda laborum. Exercitationem cupiditate
            laborum illo minima amet ut atque, tempora ad sint fugiat quibusdam provident commodi!</p>
    </div>