<ng-container *ngIf="!isShowPopup">
	<div class="block-control ai-c">
		<div class="form-group mr-at mb-0">
			<mat-form-field>
				<mat-select
					name="language"
					[formControl]="languageControl"
					[ngModel]="1"
					(valueChange)="fetchMenu($event)"
				>
					<mat-option
						*ngFor="let language of languages"
						[value]="language.id"
					>
						{{ language.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<a *ngIf="canAction(featureName, permissions.Add)" class="btn btn-success btn-add" (click)="onOpenPopup(true)"
			>Thêm mới</a
		>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Tên Menu</th>
				<th class="column-parentId">Menu cha ( nếu có )</th>
				<th>Đường dẫn</th>
				<th>Thứ tự</th>
				<th>Tác vụ</th>
			</tr>
			<tr *ngFor="let menu of menus; let i = index">
				<th class="column-number ta-c">{{ i + 1 }}</th>
				<td class="column-title">{{ menu.title }}</td>
				<td class="column-parentId ta-c">{{ menu.parentName }}</td>
				<td class="column-link">{{ menu.link }}</td>
				<td class="column-order ta-c">{{ menu.order }}</td>
				<td class="column-button ta-c">
					<div class="table-buttons">
						<span *ngIf="canAction(featureName, permissions.Edit)"
							class="btn btn-outline-success btn-edit"
							(click)="onOpenPopup(true, menu, true)"
						>
							<span class="lnr lnr-pencil"></span>
						</span>
						<span *ngIf="canAction(featureName, permissions.Delete)"
							class="btn btn-outline-danger btn-remove"
							(click)="deleteMenu(menu.id)"
						>
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</ng-container>

<div class="popup-wrapper" *ngIf="isShowPopup">
	<app-add-edit
		[menu]="menu"
		[isEdit]="isEdit"
		(close)="onClosePopup($event)"
	></app-add-edit>
</div>
