<div class="ckf-main-region" data-ckf-priority="50" style="min-height: 648px;">
	<ul data-role="listview" tabindex="30" role="list"
		class="ckf-files-view ckf-files-view-borders ui-body-inherit ui-listview ckf-files-thumbs ckf-files-thumbs-xs"
		aria-label="Files pane" style="min-height: 638px;">
		<li *ngFor="let item of files" [attr.id]="item.id"
			[class]="fileHover == item ? 'ckf-file-item ui-li-has-thumb ckf-file-show-thumb' : 'ckf-file-item ui-li-has-thumb'"
			style="width: 150px; height: 150px;" data-icon="false" role="presentation" clickDirective [file]="item"
			[SelectedFiles]="activeFiles" (toogleSelectedFiles)="onActiveFiles($event)">
			<a href="javascript:void(0)" [class]="onActiveClass(item)"
				[tabindex]="activeFiles.indexOf(item)"
				draggable="true" role="listitem" [attr.aria-label]="item.name"
				[attr.aria-describedby]="'ckf-file-desc-' + item.id"
				[attr.data-ckf-drag-preview]="'ckf-drag-prev-' + item.id" [attr.data-ckf-view]="item.id"
				[contextMenu]="basicMenu" [contextMenuSubject]="item">
				<img id="ckf-drag-prev-{{item.id}}" class="ui-li-thumb" alt="" src="{{item.path}}" draggable="true"
					[attr.data-ckf-drag-preview]="'ckf-drag-prev-' + item.id"

					><!-- (mouseenter)="mouseEnter(item)" (mouseleave)="mouseLeave(item)" -->
				<input class="path-image-item" value="{{item.pathName.replace('dist/browser/', '')}}">
				<div class="ckf-file-desc ui-bar-a" draggable="true">
					<h2 title="{{item.name}}" dir="auto">{{item.name}}</h2>
					<p draggable="true" id="ckf-file-desc-{{item.id}}"
						[attr.data-ckf-drag-preview]="'ckf-drag-prev-' + item.id">
						{{item.createdDate | date: 'dd/MM/yyyy HH:mm'}}<br>{{item.length}} KB
					</p>
				</div>
			</a>
		</li>
	</ul>
</div>

<context-menu>
	<ng-template contextMenuItem (execute)="downloadFile($event)">
		<span tabindex="-1" class="ui-btn ui-btn-icon-left ui-icon-ckf-folder-download" data-ckf-name="CreateFolder">
			Tải về
		</span>
	</ng-template>
	<ng-template contextMenuItem (execute)="renameFile($event)">
		<span tabindex="-1" class="ui-btn ui-btn-icon-left ui-icon-ckf-folder-rename" data-ckf-name="RenameFolder">Đổi
			tên
		</span>
	</ng-template>
	<ng-template contextMenuItem (execute)="copyNameFile($event)">
		<span tabindex="-1" class="ui-btn ui-btn-icon-left ui-icon-ckf-folder-copy_link" data-ckf-name="RenameFolder">
			Sao chép link
		</span>
	</ng-template>
	<ng-template contextMenuItem (execute)="deleteFile($event)">
		<span tabindex="-1" class="ui-btn ui-btn-icon-left ui-icon-ckf-folder-delete" data-ckf-name="DeleteFolder">
			Xóa
		</span>
	</ng-template>
</context-menu>

<div class="ckf-file-preview-root" tabindex="0" role="application" dir="ltr" *ngIf="!isSingleClick"
	(click)="isSingleClick=true">
	<div class="ckf-file-preview-info">
		<!-- <div class="ckf-file-preview-info-name">{{activeFile.name}}</div> -->
	</div>
	<div class="ckf-file-preview">
		<!-- <img alt="1.jpg&quot;" src="{{activeFile.path}}" id="ckf-image-preview"
			style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; margin: auto; max-width: calc(100% - 6em); max-height: calc(100% - 2em);"> -->
	</div>
</div>
