<div class="title-news-others">tin liên quan</div>
<div class="list-news-others">
	<div class="row">
		<div class="col-sm-6 col-lg-12" *ngFor="let newsOthers of listNewsOthers">
			<a [routerLink]="newsOthers.url" appIndexNewsItem class="item-news-others">
				<figure>
					<div class="img">
						<img src="{{newsOthers.img}}" alt="" srcset="" class="ofcv">
					</div>
					<figcaption>
						<h3 class="lcl lcl-2">{{newsOthers.title}}</h3>
						<time>{{newsOthers.time}}</time>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>