.title-news-others {
	background    : #0028C3;
	line-height   : 40px;
	color         : #FFFFFF;
	font-size     : 14px;
	text-align    : center;
	text-transform: uppercase;
}

.list-news-others {
	.item-news-others {
		margin-bottom: 10px;

		figure {
			figcaption {
				color     : #2B2B2B;
				background: rgba($color: #F3F3F3, $alpha: .5);
				padding   : 10px 20px;

				h3 {
					font-size: 16px;
				}

				time {
					font-size: 14px;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
