<footer>
	<div class="container">
		<div class="title-footer tt-u fw-700 cl-white">
			{{ "PageTitleShort" | translate }}
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="address">
					<div class="img">
						<img
							[defaultImage]="defaultImage"
							[lazyLoad]="'/assets/images/icons/headquater.svg'"
						/>
					</div>
					<div class="content">
						<h4>{{ "Headquarter" | translate }}</h4>
						<p *ngIf="headquater">
							{{ headquater.address }}
						</p>
					</div>
				</div>
			</div>
			<!-- danh sách dịch vụ -->
			<div class="col-lg-3 col-sm-6">
				<div class="address">
					<div class="img">
						<img
							[defaultImage]="defaultImage"
							[lazyLoad]="'/assets/images/icons/office.svg'"
						/>
					</div>
					<div class="content">
						<h4>{{ "OppositeOffice" | translate }}</h4>
						<p *ngIf="AddressOppositeOffice">
							{{ AddressOppositeOffice.address }}
						</p>
					</div>
				</div>
			</div>
			<!-- đăng kí theo dõi -->
			<div class="col-lg-4 col-md-8">
				<div class="subscribe">
					<h4>
						{{ "WebsiteRelative" | translate }}
					</h4>
					<form action="#">
						<div class="form-group">
							<!-- <input type="text" placeholder="Email..." /> -->
							<select
								name="website-relative"
								id="website-relative"
								(change)="
									openWebsiteRelative($event.target.value)
								"
							>
								<option disabled>
									- - Chọn website liên kết - -
								</option>
								<option
									*ngFor="let item of WebsiteRelatives"
									value="{{ item.link }}"
								>
									{{ item.title }}
								</option>
							</select>
						</div>
					</form>
				</div>
				<!-- <div class="list-social">
					<ul class="pl-0 d-f">
						<li>
							<a
								href="https://facebook.com"
								rel="noreferrer"
								class="ico-facebook"
								target="_blank"
							>
								<img
									src="assets/images/icons/facebook.svg"
									alt=""
								/>
							</a>
						</li>
						<li>
							<a
								href="https://twitter.com"
								rel="noreferrer"
								class="ico-twitter"
								target="_blank"
							>
								<img
									src="assets/images/icons/twitter.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div> -->
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="connect-count">
					<h4>{{ "Visits" | translate }}</h4>
					<ul>
						<li>
							{{ "Day" | translate }}:
							<span>1000</span>
							{{ "CountUnit" | translate }}
						</li>
						<li>
							{{ "Month" | translate }}:
							<span>1000</span>
							{{ "CountUnit" | translate }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="d-f fw-w">
			<p class="cl-white">Copyright 2019 công ty 751</p>
			<p class="cl-white ml-at">
				All rights reserved | Designed by Web4G
			</p>
		</div>
	</div>
</div>
