<footer>
	<div class="container">
		<div class="title-footer tt-u fw-700 cl-white">
			{{ "ResourceKeys.PageTitleShort" }}
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="address">
					<div class="img">
						<img src="/assets/images/icons/headquater.svg" alt="" />
					</div>
					<div class="content">
						<h4>{{ "ResourceKeys.Headquarter" }}</h4>
						<p>
							{{ "ResourceKeys.AddressHeadquarter" }}
						</p>
					</div>
				</div>
			</div>
			<!-- danh sách dịch vụ -->
			<div class="col-lg-3 col-sm-6">
				<div class="address">
					<div class="img">
						<img src="/assets/images/icons/headquater.svg" alt="" />
					</div>
					<div class="content">
						<h4>{{ "ResourceKeys.OppositeOffice" }}</h4>
						<p>
							{{ "ResourceKeys.AddressOppositeOffice" }}
						</p>
					</div>
				</div>
			</div>
			<!-- đăng kí theo dõi -->
			<div class="col-lg-4 col-md-8">
				<div class="subscribe">
					<h4>
						{{ "ResourceKeys.WebsiteRelative" }}
					</h4>
					<form action="#">
						<div class="form-group">
							<!-- <input type="text" placeholder="Email..." /> -->
							<select
								name="website-relative"
								id="website-relative"
							>
								<option disabled>
									- - Chọn website liên kết - -
								</option>
								<option value="#">Website 1</option>
								<option value="#">Website 2</option>
								<option value="#">Website 3</option>
							</select>
						</div>
					</form>
				</div>
				<!-- <div class="list-social">
					<ul class="pl-0 d-f">
						<li>
							<a
								href="https://facebook.com"
								rel="noreferrer"
								class="ico-facebook"
								target="_blank"
							>
								<img
									src="assets/images/icons/facebook.svg"
									alt=""
								/>
							</a>
						</li>
						<li>
							<a
								href="https://twitter.com"
								rel="noreferrer"
								class="ico-twitter"
								target="_blank"
							>
								<img
									src="assets/images/icons/twitter.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div> -->
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="connect-count">
					<h4>{{ "ResourceKeys.Visits" }}</h4>
					<ul>
						<li>
							{{ "ResourceKeys.Day" }}:
							<span>1000</span>
							{{ "ResourceKeys.CountUnit" }}
						</li>
						<li>
							{{ "ResourceKeys.Month" }}:
							<span>1000</span>
							{{ "ResourceKeys.CountUnit" }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="d-f fw-w">
			<p class="cl-white">Copyright © 2019 751</p>
			<p class="cl-white ml-at">
				All rights reserved | Designed by Web4G
			</p>
		</div>
	</div>
</div>
