<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<section class="department">
	<div class="container">
		<div class="block-title text-center">
			<div class="d-f jc-c">
				<h1 class="tt-u main-title mb-0">{{ title }}</h1>
			</div>
		</div>
		<div class="dpm-content">
			<div class="row">
				<div class="col-12">
					<h2 class="main-title tt-u">
						<!-- {{ "menu.about" | translate}} -->
						Giới thiệu
					</h2>
				</div>
				<div class="col-lg-6">
					<div class="text" [innerHTML]="description"></div>
				</div>
				<div class="col-lg-6">
					<div class="img">
						<img src="{{ image }}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="dpm-products">
	<div class="container">
		<div class="block-title center">
			<h2 class="main-title tt-u mb-0">
				<!-- {{ "ResourceKeys.Products" | translate}} -->
				Sản phẩm
			</h2>
		</div>
		<ng-container *ngFor="let productGroup of productGroups">
			<div class="content" *ngIf="!productGroup.isPotential">
				<h2 class="main-title tt-u tag-line">
					{{ productGroup.name }}
				</h2>
				<div class="row" *ngIf="productGroup.products">
					<div class="col-12">
						<app-department-products [products]="productGroup.products"></app-department-products>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>

<ng-container *ngFor="let productGroup of productGroups">
	<app-department-capacity *ngIf="productGroup.isPotential" [capacityProducts]="productGroup.products">
	</app-department-capacity>
</ng-container>
<app-index-news [pageTitle]="pageTitle"></app-index-news>

<section class="form-contact pd-70">
	<div class="container">
		<div class="block-title text-center">
			<h2 class="main-title tt-u">Liên hệ</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<app-form-contact [departments]="departments" [categoryUrl]="categoryUrl"></app-form-contact>
			</div>
			<div class="col-lg-6">
				<div class="information">
					<h3>{{ title }}</h3>
					<div class="text" [innerHTML]="address"></div>
					<hr />
					<h3>{{ "ResourceKeys.WorkTime" | translate}}</h3>
					<div class="text" [innerHTML]="workTime"></div>
				</div>
			</div>
		</div>
	</div>
</section>
