<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<section class="contact">
	<div class="container">
		<h1 class="tt-u main-title tag-line mb-50">liên hệ với chúng tôi</h1>
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<app-form-contact></app-form-contact>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="list-address">
					<div class="item-address" *ngFor="let item of listAddress">
						<ul class="lst-n pl-0">
							<li class="cl-main-2 mb-20">
								{{ item.officeName }}
							</li>
							<li class="mb-10">
								{{ item.address }}
							</li>
							<li class="mb-10">{{item.website}}</li>
							<li class="mb-10">{{ item.phone }}</li>
							<li class="mb-10">{{ item.email }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="google-map mt-40">
		<app-map *ngIf="listAddress" [listAddress]="listAddress"></app-map>
	</div>
</section>
