<app-breadcrumb></app-breadcrumb>
<section class="activities">
	<div class="container">
		<div class="block-title center">
			<h2 class="main-title tt-u tag-line">hình ảnh</h2>
		</div>
		<div class="row activities-list">
			<ng-container *ngFor="let item of images let i = index">
				<div class="col-lg-3 activities-item" *ngIf="i<12">
					<figure (click)="getImageListPopup(item.popupImages)">
						<div class="img ov-h">
							<img src="{{item.thumbnail}}" alt="">
						</div>
						<figcaption>
							<h3 class="lcl lcl-1">{{item.title}}</h3>
							<div class="description">
								<time class="d-b">{{item.time}}</time>
								<span class="viewmore">Xem {{item.typeName}}</span>
							</div>
						</figcaption>
					</figure>
				</div>
			</ng-container>
		</div>
	</div>
	<app-activities-images-popup [imageList]="list" *ngIf="popupShow" (close)="closePopup($event)">
	</app-activities-images-popup>
</section>
