<section class="staff pd-70">
	<div class="container">
		<div class="block-title center">
			<div class="main-title fw-700 tt-u" *ngIf="staff">
				{{ staff.title }}
			</div>
		</div>
		<div class="block-desc-title" *ngIf="staff">
			{{ staff.content }}
		</div>
		<div class="slider-staff">
			<div class="swiper-container" [swiper]="sliderStaff">
				<div class="swiper-wrapper">
					<div
						*ngFor="let staffImage of staffImages"
						class="swiper-slide"
					>
						<figure>
							<div class="box-img">
								<img
									class="ofcv swiper-lazy"
									data-src="{{ staffImage.path }}"
									alt="{{ staffImage.alt }}"
								/>
								<div
									class="swiper-lazy-preloader swiper-lazy-preloader-white"
								></div>
							</div>
							<figcaption>
								<p class="lcl lcl-1">
									{{ staffImage.name }}
								</p>
								<h3 class="lcl lcl-1">
									{{ staffImage.alt }}
								</h3>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
