<div class="block-control">
	<div class="block-buttons">
		<a class="btn btn-danger btn-cancel" (click)="closePopup(false)">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="updateBanner()" *ngIf="isEdit == true">Cập nhật</a>
		<a class="btn btn-success btn-add" (click)="addBanner()" *ngIf="isEdit == false">Thêm</a>
	</div>
</div>
<div class="block-form">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="form-group col-12">
					<label for="">Ngôn ngữ *</label>
					<mat-form-field>
						<mat-select name="language" [formControl]="languageControl" [(ngModel)]="banner.languageId">
							<mat-option *ngFor="let language of languages" [value]="language.id">
								{{ language.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-12">
					<label id="ResourcePathName">Đường dẫn của ảnh *</label>
					<div class="input-group shadow-sm">
						<input class="form-control" name="resourcepath" [(ngModel)]="banner.resourcePath" type="text" />
					</div>
					<span class="field-validation-valid"></span>
				</div>
				<div class="form-group col-12">
					<label>Liên kết</label>
					<div class="input-group shadow-sm">
						<input class="form-control" name="link" [(ngModel)]="banner.link" type="text" />
					</div>
					<span class="field-validation-valid"></span>
				</div>
				<div class="form-group col-12">
					<label>Tên</label>
					<div class="input-group shadow-sm">
						<input class="form-control" name="link" [(ngModel)]="banner.name" type="text" />
					</div>
					<span class="field-validation-valid"></span>
				</div>
				<div class="form-group col-12">
					<label>Thứ tự</label>
					<div class="input-group shadow-sm">
						<input class="form-control" type="number" value="0" name="order" [(ngModel)]="banner.order" />
					</div>
					<span class="field-validation-valid"></span>
				</div>
				<div class="form-group col-auto">
					<label class="checkbox-custom"><input class="check-box" type="checkbox" name="ispublished"
							[(ngModel)]="banner.isPublished" />Hiển thị
					</label>
				</div>
				<!-- <div class="form-group col-auto">
					<label class="checkbox-custom">
						<input
							class="check-box"
							type="checkbox"
							name="isvideo"
							[(ngModel)]="banner.isVideo"
						/>Đặt làm video
					</label>
				</div> -->
			</div>
		</div>
	</div>
</div>
