<div style="cursor: pointer;" (click)="redirectTypes('mua-xuan-tren-thanh-pho-ho-chi-minh')" [@routeAnimation]>
    <h3>This List News</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur reiciendis temporibus necessitatibus
        dolore, vel, maiores veritatis consequuntur iusto commodi quo aperiam officia. Distinctio suscipit, eius
        quibusdam esse fugit ea officia dicta illum doloribus porro modi illo aut quo laudantium quas, saepe magni
        debitis ex placeat repudiandae corrupti voluptatum nesciunt alias? Aspernatur adipisci quos mollitia repellat.
        Iste fugit repudiandae praesentium excepturi repellat, ut iure consequatur quas dignissimos obcaecati rerum,
        explicabo velit voluptas nisi minima expedita sunt delectus quam cumque possimus. Perferendis facere, nihil sed,
        ad molestias tempora beatae nisi nemo vitae vel consectetur quo veritatis rem odit expedita, aspernatur
        excepturi corrupti! Qui, sequi laudantium quo debitis voluptatum magnam libero labore. Mollitia amet, eius
        repellat, beatae possimus expedita neque cumque iusto ipsam non ipsa facilis voluptate, nam consequuntur
        pariatur! Iusto laboriosam quaerat alias in, nulla quae perferendis! Maxime deleniti sit reprehenderit animi rem
        unde nulla eaque qui. Natus autem officiis explicabo quas optio ab officia tempore consequatur. Voluptatibus
        deserunt sequi praesentium veritatis omnis architecto autem unde ratione neque quibusdam corporis fugit
        consequatur, asperiores quisquam aliquam, natus laborum eaque explicabo magni consectetur atque blanditiis.
        Magni iusto laborum dolores quas facilis, commodi, libero quod cupiditate possimus unde vitae asperiores, ab
        adipisci officia ipsum minima tenetur aperiam minus assumenda nesciunt repellendus. Similique aut exercitationem
        quam dignissimos minus magni, error laboriosam perspiciatis eum architecto assumenda blanditiis sequi harum
        repudiandae commodi aspernatur facere, modi, ducimus quos laudantium necessitatibus. Ipsum sapiente eos nesciunt
        dolorum corrupti explicabo ut odit non! Quod porro cumque illum sequi dolorem dolore reprehenderit sapiente,
        perferendis nostrum, in vero vel tempore! Eaque natus aliquam nulla voluptatem? Enim cumque fugit incidunt?
        Quidem assumenda eum quam sed earum, consectetur obcaecati voluptatibus deleniti odit veniam expedita autem
        soluta, enim perferendis alias ea delectus accusantium deserunt recusandae nulla dolor velit asperiores
        voluptas? Possimus ipsam rem vitae, eius error voluptatum?</p>
</div>