<div class="block-content">
	<!-- <div class="block-control">
		<a
			class="btn btn-danger btn-cancel"
			routerLink="/admin/banner"
			*ngIf="!isEdit.status"
		>
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="bannerAction($event)">
			{{ isEdit.status ? isEdit.buttonText : 'Thêm' }}
		</a>
	</div> -->

	<!-- Sửa banner -->
	<div class="block-control" *ngIf="isEdit.status == true">
		<a class="btn btn-danger btn-cancel" routerLink="/admin/banner">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="updateBanner()">Cập nhật</a>
	</div>
	<!-- Thêm banner -->
	<div class="block-control" *ngIf="isEdit.status == false">
		<a class="btn btn-danger btn-cancel" routerLink="/admin/banner">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="addBanner()">Thêm</a>
	</div>

	<form>
		<div class="form-row row">
			<div class="col-lg-4">
				<div class="row">
					<div class="form-group col-12">
						<label for="">Ngôn ngữ</label>
						<select
							class="form-control"
							name="languageid"
							[(ngModel)]="banner.languageId"
						>
							<option value="1">Tiếng việt</option>
							<option value="2">English</option>
						</select>
					</div>
					<div class="form-group col-12">
						<label id="ResourcePathName">Đường dẫn của ảnh</label>
						<div class="input-group shadow-sm">
							<input
								class="form-control"
								name="resourcepath"
								[(ngModel)]="banner.resourcePath"
								type="text"
							/>
						</div>
						<span class="field-validation-valid"></span>
					</div>
					<div class="form-group col-12">
						<label>Liên kết</label>
						<div class="input-group shadow-sm">
							<input
								class="form-control"
								name="link"
								[(ngModel)]="banner.link"
								type="text"
							/>
						</div>
						<span class="field-validation-valid"></span>
					</div>
					<div class="form-group col-12">
						<label>Thứ tự</label>
						<div class="input-group shadow-sm">
							<input
								class="form-control"
								type="number"
								value="0"
								name="order"
								[(ngModel)]="banner.order"
							/>
						</div>
						<span class="field-validation-valid"></span>
					</div>
					<div class="form-group col-auto">
						<label class="checkbox-custom"
							>Hiển thị
							<input
								class="check-box"
								type="checkbox"
								name="ispublished"
								[(ngModel)]="banner.isPublished"
							/>
						</label>
					</div>
					<div class="form-group col-auto">
						<label class="checkbox-custom">
							Đặt làm video
							<input
								class="check-box"
								type="checkbox"
								name="isvideo"
								[(ngModel)]="banner.isVideo"
							/>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
