<div class="breadcrumb-wrapper">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
				<a>{{ breadcrumb }}</a>
			</li>
		</ol>
	</div>
</div>
<section class="news-detail pd-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-xl-8" *ngIf="article">
				<h1>{{ article.Title }}</h1>
				<time>{{ article.Time }}</time>
				<div class="content" [innerHTML]="article.Content"></div>
			</div>
			<div class="col-lg-3">
				<app-news-detail-others
					[language]="currentLanguage"
				></app-news-detail-others>
			</div>
		</div>
	</div>
</section>
