<div class="block-content">
	<!-- Sửa banner -->
	<div class="block-control" *ngIf="isEdit == true">
		<a class="btn btn-danger btn-cancel" routerLink="/admin/category-admin">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="updateCategory()">
			Cập nhật
		</a>
	</div>
	<!-- Thêm banner -->
	<div class="block-control" *ngIf="isEdit == false">
		<a class="btn btn-danger btn-cancel" routerLink="/admin/category-admin">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="addCategory()">Thêm</a>
	</div>
	<div class="tab-container" appTab>
		<div class="block-list-tab">
			<ul class="list-tab">
				<li class="item active" toggle-for="item-1">Nội dung</li>
				<li class="item" toggle-for="item-2">SEO bài viết</li>
				<li class="item" toggle-for="item-3">Hình ảnh</li>
			</ul>
		</div>
		<div class="block-form">
			<div class="tab-content">
				<div class="content show" tab-id="item-1">
					<div class="row">
						<div class="form-group col-lg-6">
							<label>Ngôn ngữ</label>
							<select class="form-control" name="languageid" [(ngModel)]="category.languageId">
								<ng-container *ngFor="let language of languages">
									<option value="{{ language.id }}">
										{{ language.name }}
									</option>
								</ng-container>
							</select>
						</div>
						<div class="form-group col-lg-6">
							<label>Danh mục cha</label>
							<select class="form-control" name="parentid" [(ngModel)]="category.parentId"
								(change)="updateBaseUrl()">
								<ng-container *ngFor="let category of categories">
									<option value="{{ category.id }}">
										{{ category.title }}
									</option>
								</ng-container>
							</select>
						</div>
						<div class="form-group col-lg-6">
							<label>Tiêu đề *</label>
							<input class="form-control" type="text" placeholder="Nhập tiêu đề" name="title"
								[(ngModel)]="category.title" (keyup)="setAliasTitleToUrl()" />
						</div>
						<div class="form-group col-lg-6">
							<label>Đường dẫn *</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										{{ originUrl }}
									</span>
								</div>
								<input class="form-control" type="text" name="sename" [(ngModel)]="category.seName" />
							</div>
						</div>
						<div class="form-group col-lg-6">
							<label>Đường dẫn mới *</label>
							<input class="form-control" type="text" placeholder="Nhập đường dẫn mới" name="externalurl"
								[(ngModel)]="category.externalUrl" />
						</div>
						<div class="form-group col-lg-6">
							<label>Ảnh đại diện *</label>
							<input class="form-control" type="text" placeholder="Nhập đường dẫn ảnh đại diện"
								name="image" [(ngModel)]="category.image" />
						</div>
						<div class="form-group col-lg-6">
							<label>Chọn mẫu template</label>
							<select class="form-control" name="template" [(ngModel)]="category.template">
								<ng-container *ngFor="
										let template of templates;
										let i = index
									">
									<option value="{{ template.id }}">
										{{ template.title }}
									</option>
								</ng-container>
							</select>
						</div>
						<!-- <div class="form-group col-lg-6">
							<label>Vị trí</label>
							<input
								class="form-control"
								type="number"
								placeholder="Sắp xếp vị trí trang"
								name="order"
								[(ngModel)]="category.order"
							/>
						</div> -->
						<div class="form-group col-lg-12">
							<label>Mô tả *</label>
							<app-ckeditor [data]="category.description" (change)="onChangeEmitter($event)">
							</app-ckeditor>
						</div>
					</div>
				</div>
				<div class="content" tab-id="item-2">
					<div class="row">
						<div class="form-group col-lg-6">
							<label>Meta Title *</label>
							<input class="form-control" type="text" name="metatitle" [(ngModel)]="category.metaTitle" />
						</div>
						<div class="w-100"></div>
						<div class="form-group col-lg-6">
							<label>Meta Image *</label>
							<input class="form-control" type="text" name="metaimage" [(ngModel)]="category.metaImage" />
						</div>
						<div class="w-100"></div>
						<div class="form-group col-lg-6">
							<label>Meta Description</label>
							<input class="form-control" type="text" name="metadescription"
								[(ngModel)]="category.metaDescription" />
						</div>
						<div class="w-100"></div>
						<div class="form-group col-lg-6">
							<label>Meta Keywords </label>
							<input class="form-control" type="text" name="metakeywords"
								[(ngModel)]="category.metaKeywords" />
						</div>
						<div class="form-group col-lg-12">
							<a class="btn btn-success" href="#">Xác nhận</a>
						</div>
					</div>
				</div>
				<div class="content" tab-id="item-3">
					<p>3</p>
				</div>
			</div>
		</div>
	</div>
</div>