.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 101;
	background-color: rgba(black, .85);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.popup-content {
	max-width: 610px;
	width: 100%;
	position: relative;

	.popup-close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 2;
		width: 30px;
		height: 30px;
	}
}

.big-slider {
	.swiper-slide {
		cursor: pointer;

		img {
			width: 100%;
		}
	}
}

.small-slider {
	padding: 0 20px;
	margin-top: 20px;
}