<div [@routeAnimation]>
    <h3>About me</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab id corporis, nostrum aliquam sint distinctio non.
    Sunt ipsam aperiam consectetur nihil saepe quidem exercitationem itaque quam voluptatibus, eum magnam accusantium ea
    quas neque hic nulla animi eaque id expedita culpa ipsa similique, esse explicabo. Nisi harum temporibus quasi sunt
    quos! Nobis nam vitae perspiciatis consequuntur blanditiis pariatur alias aspernatur excepturi facere. Ullam id
    dolorum amet itaque veniam quam. Natus velit amet aliquid earum sed magnam beatae hic culpa voluptatum. Autem, dicta
    dolore voluptatum deleniti voluptatem quam ipsum tenetur commodi cupiditate harum omnis neque adipisci tempore
    temporibus at ducimus. Omnis fugit saepe itaque aliquid iusto voluptates provident cupiditate. Voluptates modi neque
    iusto odit voluptatibus tempore provident eos rem minima fugiat, corporis at quas maxime molestiae vitae!
    Accusantium nesciunt, possimus iure recusandae laudantium sunt ratione eos harum ad, tempore voluptatum? Illo
    obcaecati aspernatur maxime pariatur explicabo. Consectetur, officia esse, a repellat impedit error vitae dolorum
    veritatis aspernatur optio corporis modi labore atque excepturi eaque adipisci quo exercitationem totam magnam?
    Velit eveniet suscipit maiores neque corporis sequi, fugiat itaque magni voluptatem iste dolorem officiis delectus
    deleniti harum animi molestiae, optio aperiam nihil tenetur! Quia quis officiis eius eligendi omnis officia, quod
    minus molestiae, possimus voluptatem veritatis doloremque ut perferendis perspiciatis incidunt cum? Ab fugiat
    consequuntur id dolorem nobis modi praesentium doloribus blanditiis assumenda. Voluptatibus earum eaque, minima ipsa
    illum nam architecto omnis iusto harum impedit exercitationem facere beatae aut! Hic asperiores laudantium, iure a
    beatae quo totam placeat atque reiciendis. Voluptate, neque quasi. Aspernatur quaerat rerum nisi expedita assumenda
    est ex reprehenderit quas officia ipsam earum consectetur dolorum quam quidem, recusandae architecto asperiores
    illum labore. Nostrum voluptates cum, impedit ipsam vel voluptatibus temporibus. Ipsam accusantium, voluptate ad
    deleniti odit harum nulla beatae, consequuntur magnam dolorem enim nostrum voluptatem fuga totam ducimus corrupti!
</div>