<div class="block-content">
	<!-- Sửa banner -->
	<div class="block-control" *ngIf="isEdit == true">
		<a class="btn btn-danger btn-cancel" (click)="closePopup(false)">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="updateProdcutGroup()">Cập nhật</a>
	</div>
	<!-- Thêm banner -->
	<div class="block-control" *ngIf="isEdit == false">
		<a class="btn btn-danger btn-cancel" (click)="closePopup(false)">
			Hủy bỏ
		</a>
		<a class="btn btn-success btn-add" (click)="addProdcutGroup()">Thêm</a>
	</div>
	<div class="block-form">
		<div class="row">
			<div class="form-group col-lg-6">
				<label>Ngôn ngữ</label>
				<select name="language" class="form-control" [(ngModel)]="productGroup.languageId">
					<option *ngFor="let language of languages" value="{{ language.id }}"
						[selected]="language.isDefault ? 'selected' : ''">{{ language.name }}
					</option>
				</select>
			</div>
			<div class="w-100"></div>
			<div class="form-group col-lg-6">
				<label>Tên nhóm</label>
				<input class="form-control" type="text" name="name" [(ngModel)]="productGroup.name" />
			</div>
			<div class="w-100"></div>
			<div class="form-group col-auto">
				<label class="checkbox-custom">
					<input class="check-box" type="checkbox" name="isCapacity" [(ngModel)]="productGroup.isPotential" />
					Năng lực
				</label>
			</div>
			<div class="w-100"></div>
			<div class="form-group col-lg-6">
				<div class="form-group">
					<label for="">Chọn sản phẩm</label>
					<mat-form-field>
						<mat-select [formControl]="templatesControl" [(ngModel)]="productGroup.productIds" multiple
							(ngModelChange)="checkData()">
							<mat-option *ngFor="let product of products" [value]="product.id">
								{{ product.title }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
</div>
