<ng-container *ngIf="!isShowPopup">
	<div class="block-control ai-c">
		<div class="block-filters mr-at d-f ai-c fw-w">
			<mat-form-field>
				<mat-select name="language" [formControl]="languageControl" (ngModelChange)="fetchBanner($event)"
					[ngModel]=1>
					<mat-option *ngFor="let language of languages" [value]="language.id">
						{{ language.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="block-buttons">
			<a class="btn btn-success btn-add" (click)="onOpenPopup(true)">Thêm mới</a>
		</div>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th class="column-number ta-c">#</th>
				<th class="column-title">Hình ảnh</th>
				<th class="column-language ta-c">Ngôn ngữ</th>
				<th class="column-button">Hiển thị</th>
				<th class="column-button ta-c">Tác vụ</th>
			</tr>
			<tr *ngFor="let banner of banners; let i = index">
				<th class="ta-c">{{ i + 1 }}</th>
				<td>
					<img src="{{ banner.resourcePath }}" alt="{{ banner.name }}" />
				</td>
				<td class="column-language ta-c">
					<img src="{{ banner.languageId == 1 ? flag.vi : flag.en }}" alt="" />
				</td>
				<td class="column-language ta-c">
					<label class="checkbox-custom jc-c">
						<input class="check-box" type="checkbox" name="isvideo" disabled
							checked="{{ banner.isPublished ? 'checked' : '' }}" />
					</label>
				</td>
				<td class="column-language ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit" (click)="onOpenPopup(true, banner, true)">
							<span class="lnr lnr-pencil"></span>
						</span>
						<span class="btn btn-outline-danger btn-remove" (click)="deleteBanner(banner.id)">
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</ng-container>

<div class="popup-wrapper" *ngIf="isShowPopup">
	<app-add-edit [banner]="banner" [isEdit]="isEdit" (close)="onClosePopup($event)"></app-add-edit>
</div>
