<div class="block-control ai-c">
	<div class="block-buttons">
		<a class="btn btn-danger btn-cancel" [routerLink]="['/admin/products']">
			Hủy bỏ
		</a>
		<ng-container *ngIf="isEdit == true">
			<a
				class="btn btn-success btn-add"
				(click)="updateProduct('Update')"
			>
				Cập nhật
			</a>
		</ng-container>
		<ng-container *ngIf="isEdit == false">
			<a class="btn btn-success btn-add" (click)="updateProduct('Add')"
				>Thêm</a
			>
		</ng-container>
	</div>
</div>
<div class="tab-container" appTab>
	<div class="block-list-tab">
		<ul class="list-tab">
			<li class="item active" toggle-for="item-1">Nội dung</li>
			<li class="item" toggle-for="item-2">SEOs</li>
			<li class="item" toggle-for="item-3">Hình ảnh</li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="content show" tab-id="item-1">
			<div class="row">
				<div class="form-group col-lg-6">
					<label>Ngôn ngữ</label>
					<select
						class="form-control"
						name="languageid"
						[(ngModel)]="product.languageId"
					>
						<ng-container *ngFor="let language of languages">
							<option
								value="{{ language.id }}"
								[selected]="
									language.isDefault ? 'selected' : ''
								"
							>
								{{ language.name }}
							</option>
						</ng-container>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<label>Danh mục *</label>
					<select
						class="form-control"
						[(ngModel)]="product.categoryId"
						(change)="updateBaseUrl(product.categoryId)"
					>
						<ng-container *ngFor="let category of categories">
							<option value="{{ category.id }}">
								{{ category.title }}
							</option>
						</ng-container>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<label>Tên sản phẩm *</label>
					<input
						class="form-control"
						type="text"
						placeholder="Nhập tên"
						[(ngModel)]="this.product.title"
						(keyup)="setAliasTitleToUrl()"
					/>
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn *</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								{{ originUrl }}
							</span>
						</div>
						<input
							class="form-control"
							type="text"
							[(ngModel)]="this.product.seName"
						/>
					</div>
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn mới *</label>
					<input
						class="form-control"
						type="text"
						placeholder="Nhập đường dẫn mới"
					/>
				</div>
				<div class="form-group col-lg-6">
					<label>Ảnh đại diện *</label>
					<input
						class="form-control"
						type="text"
						placeholder="Nhập đường dẫn ảnh đại diện"
					/>
				</div>
				<div class="form-group col-lg-12">
					<label>Mô tả *</label>

					<app-ckeditor
						[data]="product.description"
						(change)="onChangeEmitter($event)"
					></app-ckeditor>
				</div>
				<div class="form-group col-lg-12">
					<label>Mô tả chi tiết *</label>

					<app-ckeditor
						[data]="product.content"
						(change)="onChangeEmitter($event)"
					></app-ckeditor>
				</div>
				<div class="form-group col-lg-6">
					<label>Ngày đăng</label>
					<mat-form-field>
						<input
							(ngModelChange)="onDateChangeEmitter($event)"
							matInput
							[matDatepicker]="productDatePicker"
							[formControl]="createdDate"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="productDatePicker"
						></mat-datepicker-toggle>
						<mat-datepicker #productDatePicker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-group col-lg-2">
					<label class="checkbox-custom">
						Hiển thị
						<input type="checkbox" />
					</label>
				</div>
				<div class="form-group col-lg-2">
					<label class="checkbox-custom">
						Nổi bật
						<input type="checkbox" />
					</label>
				</div>
			</div>
		</div>
		<div class="content" tab-id="item-2">
			<div class="form-group">
				<label>Meta Title *</label>
				<input class="form-control" type="text" />
			</div>
			<div class="form-group">
				<label>Meta Image *</label>
				<input class="form-control" type="text" />
			</div>
			<div class="form-group">
				<label>Meta Description</label>
				<input class="form-control" type="text" />
			</div>
			<div class="form-group">
				<label>Meta Keywords </label>
				<input class="form-control" type="text" />
			</div>
		</div>
		<div class="content" tab-id="item-3">
			<p>3</p>
		</div>
	</div>
</div>
