<div class="block-control ai-c">
	<div class="block-buttons">
		<a class="btn btn-danger btn-cancel" [routerLink]="['/admin/products']">
			Hủy bỏ
		</a>
		<ng-container *ngIf="isEdit == true">
			<a
				class="btn btn-success btn-add"
				(click)="updateProduct('Update')"
			>
				Cập nhật
			</a>
		</ng-container>
		<ng-container *ngIf="isEdit == false">
			<a class="btn btn-success btn-add" (click)="updateProduct('Add')"
				>Thêm</a
			>
		</ng-container>
	</div>
</div>
<div class="tab-container block-form" appTab>
	<ul class="tab-items">
		<li class="item active" toggle-for="item-1">Nội dung</li>
		<li class="item" toggle-for="item-2">SEO</li>
		<li class="item" toggle-for="item-3">Hình ảnh</li>
	</ul>
	<div class="tab-contents">
		<div class="content show" tab-id="item-1">
			<div class="row">
				<div class="form-group col-lg-6">
					<label>Ngôn ngữ *</label>
					<mat-form-field>
						<mat-select
							name="languageid"
							[formControl]="languageControl"
							[(ngModel)]="product.languageId"
							(ngModelChange)="onChangeLanguage($event)"
						>
							<mat-option
								*ngFor="let language of languages"
								[value]="language.id"
							>
								{{ language.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-lg-6">
					<label>Danh mục *</label>
					<mat-form-field>
						<mat-select
							name="categories"
							[formControl]="categoryControl"
							[(ngModel)]="product.categoryId"
							(ngModelChange)="updateBaseUrl(product.categoryId)"
						>
							<mat-option
								*ngFor="let category of categories"
								[value]="category.id"
							>
								{{ category.parentName + category.title }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-lg-6">
					<label>Tên sản phẩm *</label>
					<input
						class="form-control"
						type="text"
						placeholder="Nhập tên"
						[(ngModel)]="product.title"
						(keyup)="setAliasTitleToUrl()"
					/>
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn *</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								{{ originUrl }}
							</span>
						</div>
						<input
							class="form-control"
							type="text"
							[(ngModel)]="product.seName"
						/>
					</div>
				</div>
				<div class="form-group col-lg-6">
					<label>Đường dẫn mới</label>
					<input
						class="form-control"
						[(ngModel)]="product.externalUrl"
						type="text"
						placeholder="Nhập đường dẫn mới"
					/>
				</div>
				<div class="form-group col-lg-6">
					<label>Link ảnh đại diện *</label>
					<input
						class="form-control"
						type="text"
						[(ngModel)]="product.image"
						placeholder="Nhập đường dẫn ảnh đại diện"
					/>
				</div>
				<div class="form-group col-lg-12">
					<label>Mô tả *</label>
					<app-ckeditor
						[data]="product.description"
						(change)="onChangeEmitterDescription($event)"
					>
					</app-ckeditor>
				</div>
				<div class="form-group col-lg-12">
					<label>Mô tả chi tiết *</label>
					<app-ckeditor
						[data]="product.content"
						(change)="onChangeEmitterContent($event)"
					></app-ckeditor>
				</div>
				<div class="form-group col-lg-6">
					<label>Ngày đăng *</label>
					<mat-form-field>
						<input
							matInput
							(ngModelChange)="onDateChangeEmitter($event)"
							[matDatepicker]="productDatePicker"
							[(ngModel)]="product.order"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="productDatePicker"
						></mat-datepicker-toggle>
						<mat-datepicker #productDatePicker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="w-100"></div>
				<div class="form-group col-lg-2 as-e">
					<label class="checkbox-custom">
						<input
							type="checkbox"
							[(ngModel)]="product.isPublished"
						/>
						Hiển thị
					</label>
				</div>
				<div class="form-group col-lg-2 as-e">
					<label class="checkbox-custom">
						<input type="checkbox" [(ngModel)]="product.isHot" />
						Nổi bật
					</label>
				</div>
			</div>
		</div>
		<div class="content" tab-id="item-2">
			<div class="form-group">
				<label>Meta Title *</label>
				<input
					class="form-control"
					[(ngModel)]="product.metaTitle"
					type="text"
				/>
			</div>
			<div class="form-group">
				<label>Meta Image *</label>
				<input
					class="form-control"
					[(ngModel)]="product.metaImage"
					type="text"
				/>
			</div>
			<div class="form-group">
				<label>Meta Description</label>
				<input
					class="form-control"
					[(ngModel)]="product.metaDescription"
					type="text"
				/>
			</div>
			<div class="form-group">
				<label>Meta Keywords </label>
				<input
					class="form-control"
					[(ngModel)]="product.metaKeywords"
					type="text"
				/>
			</div>
		</div>
		<div class="content" tab-id="item-3">
			<app-table-images
				[images]="product.images"
				(imagesChange)="updateImages($event)"
			></app-table-images>
		</div>
	</div>
</div>
