<section class="login">
	<div class="block-form-login">
		<div class="item__header">
			<div class="item__logo">
				<a href="http://web4gsolutions.com/">
					<img class="ofcv" src="./assets/images/logo.png" alt="">
				</a>
			</div>
			<div class="item__say-hi">Xin chào {{ AppName }} !</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-12">
				<label>{{ lang.instant('User.UserName') }}</label>
				<input [(ngModel)]="VM.userName" (keyup)="onCheckDataValidation($event, 'username')"
					placeholder="{{ lang.instant('Login.Username') }}" type="text" class="form-control" />
				<span class="field-validation-error">{{ msgPwd }}</span>
			</div>
			<div class="form-group col-lg-12">
				<label>{{ lang.instant('User.Password') }}</label>
				<input [(ngModel)]="VM.password" (keyup)="onCheckDataValidation($event, 'password')"
					(keydown)="onKey($event)" placeholder="{{ lang.instant('Login.Password') }}" type="password"
					class="form-control" />
				<span class="field-validation-error">{{ msgPwd }}</span>
			</div>
			<div class="form-group col-lg-6 d-flex justify-content-between">
				<label>Duy trì đăng nhập</label>
				<div class="input-custom">
					<div class="_checkbox-normal">
						<label>
							<input type="checkbox" [checked]="VM.isRememberMe"
								(change)="VM.isRememberMe = !VM.isRememberMe">
						</label>
					</div>
				</div>
			</div>
			<div class=" form-group col-lg-6">
				<div class="forgot-pass text-right">
					<a href="#">{{lang.instant('Login.ForgotPassword')}}</a>
				</div>
			</div>
			<div class="form-group col-lg-12">
				<button class="btn-submit" [disabled]="isLoading" (click)="login()">
					{{ lang.instant('User.Login') }}
				</button>
			</div>
			<div class="form-group col-lg-12 mb-0">
				<a routerLink="/account/register" class="btn-submit">{{lang.instant('Login.CreateNewAccount')}}</a>
			</div>
		</div>
		<span class="field-validation-error text-center d-block">{{ message }}</span>
	</div>
</section>





<!-- OLD -->





<!-- <div class="hold-transition login-page">
	<div class="login-box">
		<div class="login-box-body">
			<div class="login-logo">
				<a routerLink="/"><b><b>{{ AppName }}</b></b></a>
			</div>
			<p class="login-box-msg">
				{{ lang.instant('User.Login.SignInDescription') }}
			</p>

			<div>
				<b>{{ lang.instant('User.UserName') }}
					<span class="red">*</span></b>
				<div class="form-group has-feedback">
					<input [(ngModel)]="VM.userName" (keyup)="onCheckDataValidation($event, 'username')"
						placeholder="{{ lang.instant('Login.Username') }}" type="text" class="form-control" />
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					<p class="red">{{ msgUsr }}</p>
				</div>
				<b>{{ lang.instant('User.Password') }}
					<span class="red">*</span></b>
				<div class="form-group has-feedback">
					<input [(ngModel)]="VM.password" (keyup)="onCheckDataValidation($event, 'password')"
						(keydown)="onKey($event)" placeholder="{{ lang.instant('Login.Password') }}" type="password"
						class="form-control" />
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<p class="red">{{ msgPwd }}</p>
				</div>

				<div class="form-group has-feedback">
					<div class="checkbox icheck">
						<label style="margin-left: 20px;">
							<input type="checkbox" [checked]="VM.isRememberMe"
								(change)="VM.isRememberMe = !VM.isRememberMe" />
							{{ lang.instant('User.Login.RememberMe') }}
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<button [disabled]="isLoading" class="btn btn-green btn-block btn-flat" (click)="login()">
							{{ lang.instant('User.Login') }}
						</button>
					</div>

					<div class="col-xs-12 red">
						{{ message }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<a href="#">{{lang.instant('Login.ForgotPassword')}}</a>
						<br>
						<a routerLink="/account/register"
							class="text-center">{{lang.instant('Login.CreateNewAccount')}}</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center" style="margin-top: 10px;">
						<button class="btn btn-default" style="margin: 1px;" [disabled]="langCurrent == 'en'"
							(click)="useLanguage('en')">
							<span class="flag-icon flag-icon-us"></span>
						</button>
						<button class="btn btn-default" style="margin: 1px;" [disabled]="langCurrent == 'vi'"
							(click)="useLanguage('vi')">
							<span class="flag-icon flag-icon-vn"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->