<ul class="pagination">
	<li class="pagination-prev">
		<a href="#">
			<img src="./assets/images/icons/pagination-left.svg" alt="" />
		</a>
	</li>
	<li>
		<a href="#">1</a>
	</li>
	<li class="active"><a href="#">2</a></li>
	<li>
		<a href="#">3</a>
	</li>
	<li>
		<a href="#">4</a>
	</li>
	<li class="pagination-dot">
		<a href="#">...</a>
	</li>
	<li>
		<a href="#">98</a>
	</li>
	<li class="pagination-next">
		<a href="#">
			<img src="./assets/images/icons/pagination-right.svg" alt="" />
		</a>
	</li>
</ul>
