<app-breadcrumb></app-breadcrumb>
<section class="product-list">
	<div class="container">
		<div class="block-title text-center mb-70">
			<h2 class="tt-u main-title mb-0">{{title}}</h2>
			<div class="desc mx-at w-50">
				<p class="lcl lcl-2 fs-i">{{desc}}</p>
			</div>
		</div>
		<ng-container #productContainer>
			<div class="row">
				<div class="col-lg-4 item-product" *ngFor="let product of products">
					<app-product-simple [product]="product"></app-product-simple>
				</div>
			</div>
		</ng-container>
	</div>
</section>