<div class="block-form mt-10">
	<div class="block-content">
		<div class="block-control">
			<a class="btn btn-danger btn-cancel" routerLink="/admin/section">Hủy bỏ</a>
			<a class="btn btn-success btn-add" (click)="updateSection()">Cập nhập</a>
		</div>
		<div class="tab-container" appTab>
			<div class="block-list-tab">
				<ul class="list-tab">
					<li class="item active" toggle-for="item-1">Nội dung</li>
					<li class="item" toggle-for="item-2">Hình ảnh</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="content show" tab-id="item-1">
					<div class="row">
						<div class="form-group col-lg-4">
							<label>Tiêu đề</label>
							<input class="form-control" type="text" placeholder="Nhập tên"
								[(ngModel)]="section.title" />
						</div>
						<div class="form-group col-lg-4">
							<label>Ảnh đại diện *</label>
							<input class="form-control" type="text" placeholder="Nhập đường dẫn ảnh đại diện"
								[(ngModel)]="section.image" />
						</div>
						<div class="form-group col-lg-12">
							<label>Nội dung *</label>
							<textarea class="form-control" type="text" placeholder="Nhập đường dẫn ảnh đại diện"
								[(ngModel)]="section.content"></textarea>
						</div>
					</div>
					<div class="block-table">
						<table class="table">
							<tr class="table-info">
								<th>#</th>
								<th>Tên</th>
								<th>Đường dẫn hình</th>
								<th>Alt</th>
								<th>Thứ tự</th>
								<th>
									<span class="btn btn-success btn-add">Thêm</span>
								</th>
							</tr>
							<tr *ngFor="let image of section.images ; let i = index">
								<th class=" column-number ta-c">{{i+1}}</th>
								<td class="column-title ta-c">
									<input class="form-control" type="text" [(ngModel)]="image.name" />
								</td>
								<td class="column-title ta-c">
									<input class="form-control" type="text" [(ngModel)]="image.path" />
								</td>
								<td class="column-title ta-c">
									<input class="form-control" type="text" [(ngModel)]="image.alt" />
								</td>
								<td class="column-title ta-c">
									<input class="form-control" type="number" [(ngModel)]="image.order" />
								</td>
								<td class="column-button ta-c">
									<span class="btn btn-danger btn-cancel">
										Xóa
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="content" tab-id="item-2">
					<p>2</p>
				</div>
			</div>
		</div>
	</div>
</div>