<div class="slider-products">
	<div
		class="swiper-container"
		[swiper]="sliderProductsConfig"
		(init)="setSizeSlideitem($event)"
		(swiperResize)="setSizeSlideitem($event)"
	>
		<div class="swiper-wrapper">
			<div *ngFor="let product of products" class="swiper-slide">
				<div class="product-item" #departmentSlide>
					<a [routerLink]="['/products', product.CategoryUrl,product.Url]">
						<div class="img ov-h">
							<img
								src="{{ product.Image }}"
								alt="{{ product.Title }}"
							/>
						</div>
						<div class="description fcc">
							<h3
								class="tt-u ta-c"
								[innerHTML]="product.Title"
							></h3>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
