@import "../../../../assets/scss/abstracts/variables.scss";

.slider-products {
	padding: 30px 0;
}
.swiper-pagination {
	position: static;
	padding-top: 20px;
}

.swiper-container {
	height: 100%;
	width: 100%;
}

:host ::ng-deep {
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background-color: rgba(#2b2b2b, 0.35);
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background-color: map-get($mau, main);
	}
	.swiper-slide {
		height: calc((100% - 30px) / 2);
	}
}
