<section class="index-about-us">
	<div class="container-description pd-70" *ngIf="indexAbout">
		<div class="container">
			<div class="block-title ta-c">
				<h2 class="tt-u main-title">
					{{ indexAbout.title }}
				</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="img">
						<img
							[defaultImage]="defaultImage"
							[lazyLoad]="indexAbout.image"
							alt="{{ indexAbout.title }}"
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="content" [innerHTML]="indexAbout.content"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-symbol pd-70 bg-gray">
		<div class="container" *ngIf="indexCoreValues">
			<div class="block-title ta-c">
				<h2 class="tt-u main-title">
					{{ indexCoreValues.title }}
				</h2>
			</div>
			<div class="row">
				<div
					class="col-lg-3 col-6 col-item"
					*ngFor="let item of indexCoreValues.images"
				>
					<div class="item">
						<div class="img ta-c">
							<img
								[defaultImage]="defaultImage"
								[lazyLoad]="item.path"
								alt="{{ item.alt }}"
							/>
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">
								{{ item.name }}
							</h3>
							<p>
								{{ item.alt }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
