<div [@routeAnimation]>
    <h3>{{"META_TITLE.gallery" | translate}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae impedit ullam blanditiis excepturi tempore mollitia
        maiores quasi, libero hic iure maxime doloribus nesciunt commodi, harum dicta quas vero voluptatem? Modi aperiam
        earum, molestias, error incidunt expedita autem et ipsam distinctio quibusdam optio iste voluptas maxime ipsum
        consequatur magnam ullam! Voluptatum quaerat accusantium aut nesciunt, facilis vero totam dolorem velit quo
        ducimus, numquam reprehenderit commodi quisquam voluptatem. Cumque aperiam veniam at consequatur beatae quidem
        quod, non rem quibusdam illum enim corrupti modi temporibus obcaecati dolor, esse exercitationem. Voluptatum eum
        dignissimos eaque recusandae, soluta quas quaerat a voluptas modi veniam, debitis perspiciatis. Fuga
        exercitationem corporis excepturi temporibus magni molestiae tempora, deserunt, nobis qui sapiente rerum optio
        dolor ad inventore alias voluptates doloribus voluptatibus enim voluptate dolore suscipit, accusantium esse
        reprehenderit? Odit, at exercitationem? Voluptate, temporibus aperiam esse adipisci eligendi a eum dignissimos
        nulla mollitia aut blanditiis assumenda illo suscipit consequuntur soluta vitae voluptatibus minima quaerat
        incidunt modi. Cum qui dicta optio nostrum aliquam magni! Molestiae quaerat alias facere, excepturi suscipit
        nulla at, expedita inventore vitae eum sint nihil beatae nemo possimus tenetur placeat iste optio aliquam
        doloribus? Numquam nostrum, aliquid amet, nulla nobis reiciendis asperiores molestias dolorem aperiam ut ipsam
        aliquam eius nihil, dolorum optio! Mollitia nihil ducimus quibusdam quisquam facilis quo porro tempora illo
        voluptate, ab velit ex eos perferendis assumenda sunt doloribus atque. Nisi corporis enim atque adipisci iusto,
        autem reiciendis aperiam minus fugit! Et a assumenda necessitatibus. Cupiditate facilis consectetur, harum
        dignissimos asperiores voluptatum corporis at tempora mollitia error non iste repellat inventore ex doloremque
        quia reiciendis! Id quis voluptate beatae fugit ipsa expedita, natus ipsam architecto veniam reprehenderit
        accusantium, sunt explicabo eius modi, placeat enim! Ipsum quam dignissimos laboriosam iure, reiciendis soluta
        quos amet exercitationem quod quia error odio incidunt omnis. Corrupti similique quia explicabo commodi delectus
        consectetur?</p>

        <div style="cursor: pointer" (click)="transfer('images')">Images</div> <br>
        <div style="cursor: pointer" (click)="transfer('videos')">Videos</div>
</div>