<div class="block-table">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Từ khóa</th>
				<th>Giá trị</th>
				<th class="text-center">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let resource of resources, let i = index">
				<td>{{i+1}}</td>
				<td>{{resource.name}}</td>
				<td>{{resource.value}}</td>
				<td class="ta-c">
					<a class="btn btn-outline-success">
						<span class="lnr lnr-pencil"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>