<div class="block-table">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Từ khóa</th>
				<th>Giá trị</th>
				<th class="text-center">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>SmtpServer </td>
				<td>smtp.gmail.com </td>
				<td>
					<div class="list-btn">
						<!-- ĐỔI MẬT KHẨU-->
						<div class="item">
							<a class="btn btn-outline-success">
								<span class="lnr lnr-pencil"></span>
							</a>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SmtpServer </td>
				<td>smtp.gmail.com </td>
				<td>
					<div class="list-btn">
						<!-- ĐỔI MẬT KHẨU-->
						<div class="item">
							<a class="btn btn-outline-success">
								<span class="lnr lnr-pencil"></span>
							</a>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SmtpServer </td>
				<td>smtp.gmail.com </td>
				<td>
					<div class="list-btn">
						<!-- ĐỔI MẬT KHẨU-->
						<div class="item">
							<a class="btn btn-outline-success">
								<span class="lnr lnr-pencil"></span>
							</a>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>SmtpServer </td>
				<td>smtp.gmail.com </td>
				<td>
					<div class="list-btn">
						<!-- ĐỔI MẬT KHẨU-->
						<div class="item">
							<a class="btn btn-outline-success">
								<span class="lnr lnr-pencil"></span>
							</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>