<section class="index-about-us">
	<div class="container-description pd-70">
		<div class="container">
			<div class="block-title">
				<h2 class="tt-u main-title tag-line">
					{{ "index.about-us.title" | translate }}
				</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="img">
						<img src="/assets/images/index/i_1.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="title">
						<h2 class="tt-u cl-main">
							{{ "index.about-us.sub-title" | translate }}
						</h2>
						<h3 class="tt-u fw-400">
							{{ "ResourceKeys.PageTitle" | translate }}
						</h3>
					</div>
					<div class="content">
						<p>
							{{ "index.about-us.content" | translate }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-symbol pd-70 bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img
								src="/assets/images/icons/i_icon_1.svg"
								alt=""
							/>
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">
								{{ "index.symbols.s-1.title" | translate }}
							</h3>
							<p>
								{{ "index.symbols.s-1.content" | translate }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img
								src="/assets/images/icons/i_icon_2.svg"
								alt=""
							/>
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">
								{{ "index.symbols.s-2.title" | translate }}
							</h3>
							<p>
								{{ "index.symbols.s-2.content" | translate }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img
								src="/assets/images/icons/i_icon_3.svg"
								alt=""
							/>
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">
								{{ "index.symbols.s-3.title" | translate }}
							</h3>
							<p>
								{{ "index.symbols.s-3.content" | translate }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 col-item">
					<div class="item">
						<div class="img ta-c">
							<img
								src="/assets/images/icons/i_icon_4.svg"
								alt=""
							/>
						</div>
						<div class="description ta-c">
							<h3 class="tt-u">
								{{ "index.symbols.s-4.title" | translate }}
							</h3>
							<p>
								{{ "index.symbols.s-4.content" | translate }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
