<section class="history pd-70">
	<div class="container" *ngIf="year">
		<div class="block-title center">
			<h2 class="main-title fw-700 tt-u ta-c">
				{{ year.title }}
			</h2>
		</div>
		<div class="timeline">
			<div class="swiper-container" [swiper]="sliderHistoryConfig">
				<div class="swiper-wrapper">
					<div
						*ngFor="let yearImage of yearImages"
						class="swiper-slide"
					>
						<h3>{{ yearImage.name }}</h3>
						<div class="icon">
							<img
								class="swiper-lazy"
								data-src="./assets/images/icons/timeline.png"
								alt="LỊCH SỬ"
							/>
							<div
								class="swiper-lazy-preloader swiper-lazy-preloader-white"
							></div>
						</div>
						<p>{{ yearImage.alt }}</p>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</section>
