<section class="pd-70 index-partner">
	<div class="container">
		<div class="block-title ta-c">
			<h2 *ngIf="contentSection_8" class="main-title tt-u">{{contentSection_8.title}}</h2>
		</div>
		<div class="index-partner-slider">
			<div class="swiper-container" [swiper]="sliderPartnersConfig" #indexBanner>
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let itemPartner of listImages">
						<a href="{{itemPartner.url}}" target="_blank">
							<img class="swiper-lazy" data-src="{{itemPartner.path}}" alt="{{itemPartner.alt}}" />
							<div *ngIf="showLoading" class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<img [defaultImage]="defaultImage" [lazyLoad]="'/assets/images/icons/swiper_prev.svg'">
			</div>
			<div class="swiper-button-next">
				<img [defaultImage]="defaultImage" [lazyLoad]="'/assets/images/icons/swiper_next.svg'">
			</div>
		</div>
	</div>
</section>
