<section class="pd-70 index-partner">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">Khách hàng</h2>
		</div>
		<div class="index-partner-slider">
			<div class="swiper-container" [swiper]="sliderPartnersConfig" #indexBanner>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" target="_blank">
							<img src="/assets/images/customers/viettel.png" alt="" />
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" target="_blank">
							<img src="/assets/images/customers/vtv.png" alt="" />
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" target="_blank">
							<img src="/assets/images/customers/vietnam-airlines.png" alt="" />
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" target="_blank">
							<img src="/assets/images/customers/vtc.png" alt="" />
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" target="_blank">
							<img src="/assets/images/customers/petrovietnam.png" alt="" />
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev">
				<img src="/assets/images/icons/swiper_prev.svg" alt="" />
			</div>
			<div class="swiper-button-next">
				<img src="/assets/images/icons/swiper_next.svg" alt="" />
			</div>
		</div>
	</div>
</section>
