<div class="block-content">
	<div class="block-control">
		<a class="btn btn-success btn-add" routerLink="add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Tên Menu</th>
				<th>Danh mục cha ( nếu có )</th>
				<th>Đường dẫn</th>
				<th>Thứ tự</th>
				<th>Tác vụ</th>
			</tr>
			<tr>
				<th class="column-number">1</th>
				<td class="column-title">
					Giới thiệu
				</td>
				<td class="column-category">Null</td>
				<td class="column-url">/gioi-thieu</td>
				<td class="column-order ta-c">0</td>
				<td class="column-button ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit">
							<span class="lnr lnr-pencil"></span>
						</span>
						<span class="btn btn-outline-danger btn-remove">
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="block-form mt-10">
	<div class="block-content">
		<div class="block-control">
			<a class="btn btn-danger btn-cancel" routerLink="">Hủy bỏ</a>
			<a class="btn btn-success btn-add">Thêm</a>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<label>Tên nhóm *</label>
				<select class="form-control">
					<option>Ngôn ngữ</option>
					<option>Vietnamese</option>
					<option>English</option>
				</select>
			</div>
			<div class="form-group col-lg-4">
				<label>Danh mục *</label>
				<select class="form-control">
					<option>Tin tức - sự kiện</option>
					<option>Tin tức - sự kiện</option>
					<option>Tin tức - sự kiện</option>
					<option>Tin tức - sự kiện</option>
					<option>Tin tức - sự kiện</option>
				</select>
			</div>
			<div class="form-group col-lg-4">
				<label>Tiêu đề *</label>
				<input class="form-control" type="text" placeholder="Nhập tiêu đề" />
			</div>
			<div class="form-group col-lg-4">
				<label>Đường dẫn *</label>
				<input class="form-control" type="text" placeholder="Nhập đường dẫn mới" />
			</div>
			<div class="form-group col-lg-4">
				<label>Thứ tự *</label>
				<input class="form-control" type="number" placeholder="Nhập thứ tự" />
			</div>
			<div class="form-group col-lg-4">
				<label>Target Menu *</label>
				<select class="form-control">
					<option>Cửa số mới</option>
					<option>Cửa số mới</option>
					<option>Cửa số mới</option>
					<option>Cửa số mới</option>
					<option>Cửa số mới</option>
				</select>
			</div>
		</div>
	</div>
</div>