.block-table {
	background: #ffffff;
	border-radius: 5px;
	padding: 10px 0;

	table {
		font-size: 14px;
		margin-bottom: 0;
		tr {
			th,
			td {
				padding: 10px;
				vertical-align: middle;
				border: 1px solid darken(white, 24%);
				border-bottom: 1px solid darken(white, 24%);
			}
		}
		.table-info {
			text-align: center;
		}
	}
	td {
		img {
			max-width: 280px;
			display: block;
			margin: 0 auto;
		}
	}

	.column-number {
		width: 40px;
	}

	.column-language {
		width: 100px;
	}

	.column-title {
		width: 400px;
	}

	.column-image {
		width: 280px;
	}

	.column-button {
		width: 100px;
	}

	.table-buttons {
		.btn {
			width: 30px;
			height: 30px;
			padding: 0 10px;
			+ .btn {
				margin-left: 10px;
			}
		}
	}
}
