<section class="staff">
	<div class="container">
		<div class="block-title center">
			<div class="main-title fw-700 tt-u">ban lãnh đạo</div>
		</div>
		<div class="desc">Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
			facilisis. Lorem ipsum dolor sit amet, consectetur lorem.</div>
		<div class="slider-staff">
			<div class="swiper-container" [swiper]="sliderStaff">
				<div class="swiper-wrapper">
					<div *ngFor="let item of listStaff" class="swiper-slide">
						<figure>
							<div class="box-img">
								<img class="ofcv" src="{{item.image}}" alt="" srcset="">
							</div>
							<figcaption>
								<p class="lcl lcl-1">{{item.position}}</p>
								<h3 class="lcl lcl-1">{{item.name}}</h3>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
