<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div>
	<!-- about us -->
	<section class="about-us pd-70">
		<div class="container">
			<div class="block-title center">
				<h2 class="tt-u main-title" *ngIf="aboutLetter">
					{{ aboutLetter.title }}
				</h2>
			</div>
			<div
				class="content"
				*ngIf="aboutLetter"
				[innerHTML]="aboutLetter.content"
			></div>
		</div>
	</section>

	<!-- vision-mision -->
	<section class="mission-vision pd-70">
		<div class="container">
			<div class="block-title center">
				<div
					class="main-title fw-700 tt-u cl-white"
					*ngIf="missionVision"
				>
					{{ missionVision.title }}
				</div>
			</div>
			<div class="list-item row">
				<div
					class="item col-md-6"
					*ngFor="let missionVisionImage of missionVisionImages"
				>
					<figure>
						<img
							*ngIf="missionVisionImages"
							[defaultImage]="defaultImage"
							[lazyLoad]="missionVisionImage.path"
						/>
						<figcaption>
							<h5>{{ missionVisionImage.name }}</h5>
							<p>{{ missionVisionImage.alt }}</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<!-- history -->
	<app-history [language]="currentLanguage"></app-history>

	<!-- staff -->
	<app-staff [language]="currentLanguage"></app-staff>

	<!-- system -->
	<section class="system pd-70">
		<figure>
			<img
				[defaultImage]="defaultImage"
				[lazyLoad]="'./assets/images/about/system.png'"
			/>
		</figure>
	</section>

	<!-- reward -->
	<app-reward [language]="currentLanguage"></app-reward>
</div>
