.block-table {
	table {
		text-align: center;
		th,
		td {
			vertical-align: middle;
			border: 1px solid darken(white, 12%);
		}
	}
	.column-image {
		width: 320px;
	}

	.column-button {
		width: 100px;
	}

	.column-number {
		width: 40px;
	}
}

.banner-buttons {
	.btn {
		width: 30px;
		height: 30px;
		padding: 0 10px;
		+ .btn {
			margin-left: 10px;
		}
	}
}
