<div class="block-content">
	<div class="block-control ai-c">
		<div class="form-group">
			<label for="">Lọc theo ngôn ngữ</label>
			<select name="language" id="language" class="form-control" (change)="fetchBanner($event)">
				<option *ngFor="let language of languages" value="{{ language.id }}"
					[selected]="language.isDefault ? 'selected' : ''">{{ language.name }}</option>
			</select>
		</div>
		<a class="btn btn-success btn-add " routerLink="add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th class="column-number ta-c">#</th>
				<th class="column-title">Hình ảnh</th>
				<th class="column-language ta-c">Ngôn ngữ</th>
				<th class="column-button">Hiển thị</th>
				<th class="column-button ta-c">Tác vụ</th>
			</tr>
			<tr *ngFor="let banner of banners; let i = index">
				<th class="ta-c">{{ i + 1 }}</th>
				<td>
					<img src="{{ banner.resourcePath }}" alt="{{ banner.name }}" />
				</td>
				<td class="column-language ta-c">VN</td>
				<td class="column-language ta-c">{{ banner.isPublished }}</td>
				<td class="column-language ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit" (click)="editBanner(banner.id)">
							<span class="lnr lnr-pencil"></span>
						</span>
						<span class="btn btn-outline-danger btn-remove" (click)="deleteBanner(banner.id)">
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>