<div class="block-content">
	<div class="block-control">
		<a class="btn btn-success btn-add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th class="column-number">#</th>
				<th class="column-image">Hình ảnh</th>
				<th scope="col">Ngôn ngữ</th>
				<th scope="col">Hiển thị</th>
				<th class="column-button">Tác vụ</th>
			</tr>
			<tr>
				<th>1</th>
				<td>
					<img src="./assets/images/photo3.jpg" alt="" />
				</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>
					<div class="banner-buttons">
						<span class="btn btn-outline-success btn-edit">
							<span class="lnr lnr-pencil"></span>
						</span>
						<span class="btn btn-outline-danger btn-remove">
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
