.block-control {
	display: flex;

	.btn-add {
		margin-left: auto;
	}
}

.block-table {
	margin-top: 10px;

	.column-image {
		width: 320px;
	}

	.column-button {
		width: 100px;
	}

	.column-number {
		width: 40px;
	}
}

.banner-buttons {
	.btn {
		width : 30px;
		height: 30px;

		+.btn {
			margin-left: 10px;
		}
	}
}