<div class="block-content">
	<div class="block-control">
		<a class="btn btn-success btn-add" routerLink="add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Hình ảnh</th>
				<th>Ngôn ngữ</th>
				<th>Hiển thị</th>
				<th>Tác vụ</th>
			</tr>
			<tr>
				<th class="column-number">1</th>
				<td class="column-image">
					<img src="./assets/images/photo3.jpg" alt="" />
				</td>
				<td class="column-language ta-c">VN</td>
				<td class="column-display">@mdo</td>
				<td class="column-button ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit">
							<span class="lnr lnr-pencil"></span>
						</span>
						<span class="btn btn-outline-danger btn-remove">
							<span class="lnr lnr-trash"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>