:host ::ng-deep {
	margin-left: auto;
}

.breadcrumb {
	display: flex;
	list-style-type: none;
	margin-bottom: 0;
	padding: 10px 15px;
	li {
		a {
			font-size: 12px;
			i {
				margin-right: 5px;
			}
		}
		+ li {
			&:before {
				content: "/";
				margin: 0 5px;
			}
		}
	}
}
