<ng-container *ngIf="totalItems > itemPerPage">
	<ul class="pagination" *ngIf="pager && pager['page']">
		<li class="pagination-prev" (click)="choosepage(pager['page'] - 1)">
			<a>
				<span class="lnr lnr-chevron-left"></span>
			</a>
		</li>
		<li
			*ngFor="let page of pager['pages']"
			(click)="choosepage(page)"
			[ngClass]="{ active: pager['page'] === page }"
		>
			<a>{{ page }}</a>
		</li>
		<li class="pagination-next" (click)="choosepage(pager['page'] + 1)">
			<a>
				<span class="lnr lnr-chevron-right"></span>
			</a>
		</li>
	</ul>
</ng-container>
