<div [@routeAnimation]>
    <h3>Contact me!</h3>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora nobis cum neque possimus, voluptate blanditiis
    adipisci quaerat inventore veniam a deleniti expedita dolores culpa repudiandae magnam! Neque laudantium dolorem
    eaque! Cum laboriosam nisi ex ab veritatis quaerat, itaque ullam quidem placeat dicta fugiat ea facilis blanditiis
    distinctio, consequuntur doloremque impedit nobis? Nam, cum incidunt? Beatae nostrum culpa omnis suscipit? Quasi
    enim est earum natus mollitia numquam, praesentium placeat ut consequatur blanditiis ducimus ipsam pariatur commodi!
    Placeat ad dolores enim. Deleniti, officia! Assumenda hic, quibusdam explicabo repudiandae alias velit doloribus
    delectus eum itaque fuga possimus iure, nisi atque magni ut. Qui assumenda provident corrupti corporis facilis,
    veritatis accusantium dignissimos incidunt, eaque saepe nobis officia libero. Libero reiciendis, veritatis itaque
    reprehenderit nobis a iure, voluptates natus quam ullam voluptatem nam eligendi illo! Nobis voluptate, adipisci
    maxime dolorum harum eligendi suscipit dolorem error, tenetur et distinctio totam? Vel excepturi consequuntur
    expedita ullam ad, tenetur provident ab repudiandae necessitatibus ratione? Nam eveniet eius fugit reprehenderit
    veritatis minima, numquam atque vero cum, assumenda modi est sit debitis quod id, neque harum iure dolorum unde?
    Dignissimos accusamus dolor saepe, beatae iste nihil magnam est quas, eum, itaque at enim obcaecati natus. Amet
    maxime eius itaque iure dignissimos et. Excepturi, at! Unde vero neque fuga obcaecati magni, dolorum minima.
    Accusantium minima enim magni labore hic tempora mollitia nostrum, asperiores dolorum molestiae nobis. Obcaecati
    quibusdam fuga delectus, labore eos a iste quod illo pariatur quasi animi rem quia laborum tenetur culpa velit
    perspiciatis nisi suscipit laudantium dolores impedit! Totam amet laudantium fugit debitis, beatae molestiae
    officiis explicabo provident voluptatibus doloribus eveniet veritatis ratione sed? Eum quasi error perferendis non
    eveniet, modi accusamus ab laborum, architecto quibusdam, tempore numquam eos cum accusantium debitis rem!
    Temporibus aliquam sed praesentium quae illum sequi veniam laudantium facilis quam eius placeat, aspernatur
    assumenda!
</div>