:host {
	display: flex;
	flex-direction: column;
}

.aside-logo {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	align-items: center;
	height: 60px;
	width: 100%;

	img {
		width: 100%;
		max-width: 120px;
	}

	.button-close {
		cursor: pointer;
		position: relative;
		display: inline-block;
		flex: 0 0 24px;
		max-width: 24px;
		height: 15px;

		.line {
			position: absolute;
			content: "";
			width: 100%;
			height: 2px;
			background: #ffffff;
			top: 1px;
			border-radius: 10px;

			&:after,
			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 2px;
				background: #ffffff;
				border-radius: 10px;
			}

			&:after {
				top: 6px;
			}

			&:before {
				top: 12px;
				transition: transform 0.275s
						cubic-bezier(0.68, -0.55, 0.265, 1.55),
					-webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}

		&.active {
			.line {
				transform: translate3d(0, 6px, 0) rotate(135deg);
				transition: transform 0.275s
						cubic-bezier(0.68, -0.55, 0.265, 1.55),
					-webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transition-delay: 0.075s;

				&:after {
					opacity: 0;
				}

				&:before {
					top: -6px;
					transform: translate3d(0, 6px, 0) rotate(90deg);
				}
			}
		}
	}
}

.aside-menu {
	width: 100%;
	padding: 30px 15px 0 15px;
	overflow-y: auto;
}

.menu-child {
	padding-left: 20px;
	display: none;
	&.show {
		display: block;
	}
	.menu-item {
		border-left: 1px solid white;
		padding-left: 10px;
	}
}
.menu-title {
	h5 {
		font-weight: 400;
	}
	.menu-icon {
		padding-right: 10px;
	}
	.menu-toggle {
		margin-left: auto;
		transform-origin: 50% 50%;
		font-size: 12px;
	}
	a {
		display: flex;
		align-items: center;
		padding: 10px;
		color: white;
		border-radius: 5px;
		&.active {
			background-color: rgba(white, 0.2);
		}
	}
	&:hover,
	&.active {
		a {
			background-color: rgba(white, 0.2);
		}
	}
}

.menu-item {
	padding: 2px 0;
	&.active {
		> .menu-child {
			display: block;
		}
		> .menu-title {
			.menu-toggle {
				margin-left: auto;
				transform: rotateX(180deg);
			}
		}
	}
}
