<div class="aside-logo">
	<div class="logo">
		<a [routerLink]="['/admin/dashboard']">
			<img src="./assets/images/logo.png" />
		</a>
	</div>
	<div class="button-close"><span class="line"></span></div>
</div>
<section class="aside-menu" asideMenu>
	<ng-container *ngFor="let item of menus">
		<ng-container
			*ngTemplateOutlet="sidebarInner; context: { item: item }"
		></ng-container>
	</ng-container>
</section>

<ng-template #sidebarInner let-item="item">
	<div class="menu-item" menuItem>
		<ng-container *ngIf="item.children">
			<div class="menu-title">
				<a routerLinkActive="active" style="pointer-events: none;">
					<div class="menu-icon">
						<span [class]="item.iconClasses"></span>
					</div>
					<span>{{ item.label }}</span>
					<div class="menu-toggle" *ngIf="item.children">
						<span class="lnr lnr-chevron-down"></span>
					</div>
				</a>
			</div>
			<div class="menu-child" routerLinkActive="show">
				<ng-container *ngFor="let item of item.children">
					<ng-container
						*ngTemplateOutlet="
							sidebarInner;
							context: { item: item }
						"
					>
					</ng-container>
				</ng-container>
			</div>
		</ng-container>
		<ng-container *ngIf="!item.children">
			<div class="menu-title">
				<a routerLink="{{ item.route }}" routerLinkActive="active">
					<div class="menu-icon">
						<span [class]="item.iconClasses"></span>
					</div>
					<span>{{ item.label }}</span>
					<div class="menu-toggle" *ngIf="item.children">
						<span class="lnr lnr-chevron-down"></span>
					</div>
				</a>
			</div>
		</ng-container>
	</div>
</ng-template>
