.product-detail {
	margin-top: 25px;

	.product-summary {
		margin-bottom: 80px;

		.slider-imgProduct {
			margin-right: 40px;

			.preview-img-wrapper {
				.swiper-slide {
					.img {
						img {
							width     : 100%;
							height    : 100%;
							object-fit: cover;
							transition: all .2s ease-in-out;
						}
					}
				}

				.swiper-button-next,
				.swiper-button-prev {
					position       : absolute;
					top            : unset;
					bottom         : -30px;
					width          : 20px;
					height         : 20px;
					background-size: cover;
				}

				.swiper-button-prev {
					left            : 90%;
					background-image: url(/assets/images/icons/prev-slider-reward.svg);
				}

				.swiper-button-next {
					right           : 0;
					background-image: url(/assets/images/icons/next-slider-reward.svg);
				}
			}

			.gallery-thumbs-wrapper {
				.swiper-container {
					max-height: 345px;
					height    : 100%;
				}

				.swiper-slide {
					.img {
						position  : relative;
						height    : 100%;
						width     : 100%;
						opacity   : .5;
						cursor    : pointer;
						transition: .2s all ease-in-out;

						&:after {
							content   : '';
							position  : absolute;
							bottom    : -5px;
							left      : 50%;
							transform : translateY(-50%);
							width     : 50%;
							height    : 1px;
							background: #0028C3;
						}
					}

					&.swiper-slide-active {
						.img {
							opacity   : 1;
							box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .5);
						}
					}
				}
			}
		}

		.social-media {
			margin-top: 10px;

			ul {
				position     : relative;
				padding-right: 80px;
				align-self   : center;

				li {
					margin-right: 15px;

					>a {
						svg {
							path {
								fill: #707070;
							}
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}

				&:before {
					content   : '';
					position  : absolute;
					top       : 54%;
					right     : 35px;
					transform : translateY(-50%);
					width     : 32px;
					height    : 1px;
					background: rgba($color: #707070, $alpha: .5);
				}

				&:after {
					content  : 'Share';
					position : absolute;
					top      : 50%;
					right    : 0;
					font-size: 10px;
					transform: translateY(-50%);
				}
			}
		}

		.product-info {
			.desc {
				height    : 155px;
				overflow-y: auto;
				margin-top: 30px;

				p {
					color        : #2B2B2B;
					margin-bottom: 10px;
				}
			}
		}

		.button-contact {
			margin-top: 30px;
		}
	}

	.infoDetail-comments {
		.tab-container {
			.list-tab {
				justify-content: space-between;

				.item {
					cursor     : pointer;
					line-height: 50px;
					background : #ffffff;
					border     : 1px solid #F3F3F3;

					&.active {
						background: rgba($color: #F3F3F3, $alpha: .5);
					}
				}
			}

			.tab-content {
				padding   : 25px 50px;
				background: rgba($color: #F3F3F3, $alpha: .5)
			}
		}
	}

	.aside-category {
		.title-aside {
			position   : relative;
			background : #0028C3;
			line-height: 50px;
			padding    : 0 50px;

			&:after {
				content         : '';
				position        : absolute;
				top             : 50%;
				transform       : translateY(-50%);
				left            : 20px;
				width           : 16px;
				height          : 12px;
				background-image: url(/assets/images/icons/list.svg);
			}
		}

		.list-item {
			background: rgba($color: #F3F3F3, $alpha: .5);

			.item {
				padding      : 15px 0;
				margin       : 0 20px;
				border-bottom: 1px solid #DFDFDF;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.product-summary {
			.slider-imgProduct {
				margin-right: 0;
			}
		}
	}
}
