.block-table {
	background   : #ffffff;
	padding      : 1.25rem;
	border-radius: 5px;

	table {
		font-size: 13px;

		tr {
			color     : #495057;
			transition: .2s all ease-in-out;

			th {
				padding      : .55rem;
				border-bottom: 2px solid #e9ecef;
			}

			td {
				padding: .44rem;
			}

			th,
			td {
				vertical-align: middle;

				&:first-child {
					text-align: center;
				}

				&.left {
					text-align: left;
				}

				&.bold {
					font-weight: 700;
				}
			}
		}

		thead {
			tr {
				cursor: pointer;
			}
		}

		tbody {
			tr {
				@media (min-width: 1025px) {
					&:hover {
						background-color: #e0f3ff;
					}
				}
			}
		}
	}

	.list-btn {
		display        : flex;
		justify-content: center;

		.item {
			+.item {
				margin-left: 15px;
			}

			.btn {
				width : 30px;
				height: 30px;
			}
		}
	}

	&.table-input {
		.form-group {
			margin-bottom: 0;

			.input-group {
				.input-group-text {
					font-size: 14px;

					svg {
						width  : 20px;
						height : 20px;
						opacity: .6;
					}
				}

				select {
					font-size: 14px;
					cursor   : pointer;
				}

				input {
					font-size: 14px;
				}
			}
		}
	}
}