@import "../../../../assets/scss/abstracts/variables.scss";

.news-list {
	margin: -15px -10px 15px -10px;
	// background-color: rgba(#f3f3f3, 0.48);
}

.news-item {
	width: 50%;
	padding: 0 10px;
	margin-top: 15px;

	.img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.2s ease-in-out;
		}
	}

	.description {
		h3,
		p {
			transition: all 0.2s ease-in-out;
			font-size: 16px;
			-webkit-box-orient: vertical;
			overflow: hidden;
			display: -webkit-box;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
		}

		p {
			margin-top: 15px;
		}

		time {
			font-size: 14px;
			color: #b9b9b9;
			margin-top: 10px;
		}

		@media (max-width: 1199.98px) {
			h3,
			p {
				font-size: 15px;
			}

			time {
				font-size: 13px;
			}
		}

		@media (max-width: 768px) {
			h3,
			p {
				font-size: 14px;
			}

			time {
				font-size: 12px;
			}
		}
	}

	&.news-big {
		float: left;

		.img {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}

		.description {
			padding-top: 15px;
		}

		.viewmore {
			color: #0028c3;
			text-decoration: underline;
			font-size: 14px;
			display: block;
			font-weight: 700;
			margin-top: 30px;
		}
	}

	&:not(.news-big) {
		float: right;

		a {
			background-color: white;
		}

		.img {
			-ms-flex: 0 0 190px;
			flex: 0 0 190px;
			max-width: 190px;
		}

		.description {
			-ms-flex-preferred-size: 0;
			-ms-flex-positive: 1;
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
			padding: 5px 15px;
		}
	}

	&:hover {
		.img {
			img {
				transform: scale(1.1);
			}
		}

		.description {
			h3 {
				color: map-get($mau, main);
			}
		}
	}
}

@media (max-width: 1024px) {
	.news-item {
		width: 100%;

		&.news-big,
		&:not(.news-big) {
			clear: both;
		}

		&.news-big {
			.img,
			.description {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}

			.description {
				padding: 10px;
				background-color: white;
			}
		}

		&:not(.news-big) {
			.img {
				-ms-flex: 0 0 140px;
				flex: 0 0 140px;
				max-width: 140px;
			}
		}
	}
}

@media (max-width: 768px) {
	.news-item {
		&.news-big {
			.img,
			.description {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}
