.pagination {
	background: #ffffff;
	display: flex;
	justify-content: center;
	padding: 0 10px 20px 10px;
	list-style-type: none;
	margin-top: 20px;

	li {
		margin: 0 20px;
		cursor: pointer;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 30px;
			width: 30px;
			color: #707070;
			border-radius: 7px;
			font-weight: 400;
			font-size: 12px;
			border: 1px solid transparent;
			transition: all 0.2s cubic-bezier(0.2, 0.5, 0.5, 0.8);
		}

		&.active,
		&:hover {
			a {
				color: #fe0000;
				border: 1px solid #fe0000;
			}
		}

		&.pagination-dot {
			a {
				border: 0;
			}
		}

		@media (max-width: 1024.98px) {
			margin: 0 10px;
		}

		@media (max-width: 767.98px) {
			margin: 0 5px;
		}
	}
}
