<div class="block-content">
	<div class="block-control ai-c">
		<div class="form-group">
			<label for="">Lọc theo ngôn ngữ</label>
			<select name="language" id="language" class="form-control" (change)="fetchBranch($event)">
				<option *ngFor="let language of languages" value="{{ language.id }}"
					[selected]="language.isDefault ? 'selected' : ''">{{ language.name }}</option>
			</select>
		</div>
		<a class="btn btn-success btn-add ml-at" routerLink="add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Tên chi nhánh</th>
				<th>Địa chỉ</th>
				<th>Tác vụ</th>
			</tr>
			<tr *ngFor="let branch of branchs">
				<th class="column-number ta-c">1</th>
				<th class="ta-c">{{branch.officeName}}</th>
				<th class="ta-c">{{branch.address}}</th>
				<td class="column-button ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-edit" (click)="editBranch(branch.id)">
							<span class="lnr lnr-pencil"></span>
						</span>
						<!-- <span class="btn btn-outline-danger btn-remove" (click)="deleteBranch(branch.id)">
							<span class="lnr lnr-trash"></span>
						</span> -->
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>