<section class="pd-70">
	<div class="container">
		<div class="block-title">
			<h2 class="main-title tt-u tag-line">Sản phẩm</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-product" *ngFor="let product of products">
				<div class="product-item" appIndexProductItem>
					<a [routerLink]="product.url | localize">
						<div class="img ov-h">
							<img src="{{product.img}}" alt={{product.title}}>
						</div>
						<div class="description fcc">
							<h3 class="tt-u ta-c" [innerHTML]="product.title"></h3>
						</div>
						<span class="btn btn-red btn-viewmore">
							Xem thêm
							<img src="/assets/images/icons/icon_viewmore.svg" alt="">
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
