<div class="block-content">
	<div class="block-control">
		<a class="btn btn-success btn-add" routerLink="add">Thêm mới</a>
	</div>
	<div class="block-table">
		<table class="table">
			<tr class="table-info">
				<th>#</th>
				<th>Tên</th>
				<th>Số điện thoại</th>
				<th>Email</th>
				<th>Ngày gửi</th>
				<th>Tác vụ</th>
			</tr>
			<tr>
				<th class="column-number">1</th>
				<td class="column-name">
					Sơn
				</td>
				<td class="column-phone ta-c">19001024</td>
				<td class="column-display">vuson2510@gmai.com</td>
				<td class="column-display">27/4/2020</td>
				<td class="column-button ta-c">
					<div class="table-buttons">
						<span class="btn btn-outline-success btn-view">
							<span class="lnr lnr-eye"></span>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>