<div id="notfound">
	<div class="notfound">
		<div class="notfound-error">
			<h1>404</h1>
		</div>
		<p>
			{{ "PageNotFound_Content" | translate }}
			<!-- <a [routerLink]="['/index']">Back to index</a> -->
			<!-- Trang bạn đang tìm kiếm có thể đạ bị xóa hoặc đã bị thay đổi nên tạm
			thời không khả dụng -->
			<a [routerLink]="['/']">{{ "PageNotFound_Return" | translate }}</a>
		</p>
		<div class="notfound-social">
			<a
				href="https://facebook.com"
				rel="noreferrer"
				class="ico-facebook"
				target="_blank"
			>
				<img src="assets/images/icons/facebook-2.svg" alt="" />
			</a>
			<a
				href="https://twitter.com"
				rel="noreferrer"
				class="ico-twitter"
				target="_blank"
			>
				<img src="assets/images/icons/twitter-2.svg" alt="" />
			</a>
		</div>
	</div>
</div>
