<section class="reward pd-70">
	<div class="container">
		<div class="block-title center">
			<h2 class="main-title main-title fw-700 tt-u">giải thưởng và thành tựu</h2>
		</div>
		<div class="block-desc-title">Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur lorem.</div>
		<div class="slider-reward">
			<div class="swiper-container" [swiper]="sliderReward">
				<div class="swiper-wrapper">
					<div *ngFor="let reward of rewards" class="swiper-slide">
						<figure>
							<div class="box-img">
								<img class="ofcv" src="{{reward.image}}" alt={{reward.name}} srcset="">
							</div>
							<figcaption>
								<h3 class="lcl lcl-2">{{reward.name}}</h3>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</section>